# https://docs.travis-ci.com/user/languages/java/
language: java
jdk:
  - oraclejdk8

# Improve Build Speed https://dzone.com/articles/travis-ci-tutorial-java-projects

env:
    #- MAVEN_VERSION=3.2.5
    - MAVEN_VERSION=3.3.9
install:
    - "mvn -N io.takari:maven:wrapper -Dmaven=${MAVEN_VERSION}"
    - "./mvnw --show-version --errors --batch-mode test-compile dependency:go-offline"
script: "./mvnw --show-version --errors --batch-mode -Prun-its clean verify"

cache:
  directories:
    - $HOME/.m2

# Notifications https://docs.travis-ci.com/user/notifications/
notifications:
  email:
    recipients:
      - ango1984@gmail.com
    on_success: always # default: change
    on_failure: always # default: always