# tells Lombok that this is the root directory
#and it shouldn't search parent directories for more configuration files
config.stopBubbling = true

# tells Lombok to add @lombok.Generated annotations to all generated methods
# useful for style checkers and code coverage tools:
lombok.addLombokGeneratedAnnotation = true