<!-- Modal Dialog -->
<div class="modal fade" id="confirmDelete" role="dialog"
	aria-labelledby="confirmDeleteLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Delete Permanently</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
			</div>
			<div class="modal-body">
				<p>Are you sure about this ?</p>
			</div>
			<div class="modal-footer">
				<div class="col-sm-6">
					<button type="button" class="btn btn-default btn-sm"
						data-dismiss="modal">Cancel</button>
				</div>

				<div class="col-sm-6">
					<button type="button" class="btn btn-danger btn-sm" id="confirm">Delete</button>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- Dialog show event handler -->
<script type="text/javascript">
  $('#confirmDelete').on('show.bs.modal', function (e) {
      $message = $(e.relatedTarget).attr('data-message');
      $(this).find('.modal-body p').text($message);
      $title = $(e.relatedTarget).attr('data-title');
      $(this).find('.modal-title').text($title);
 
      // Pass form reference to modal for submission on yes/ok
      var form = $(e.relatedTarget).closest('form');
      $(this).find('.modal-footer #confirm').data('form', form);
  });
 
  <!-- Form confirm (yes/ok) handler, submits form -->
  $('#confirmDelete').find('.modal-footer #confirm').on('click', function(){
      $(this).data('form').submit();
  });
</script>

<!-- From here: https://heera.it/bootstrap-3-delete-confirm-dialog -->