<head>
<link rel="stylesheet" href="css/font-awesome.min.css">
</head>

<nav class="navbar navbar-expand-sm bg-info navbar-dark"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<!-- xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  	bg-light navbar-light
   <a class="navbar-brand" href="#https://vetal.com.ua/">Vetal</a> 
   -->

	<a class="navbar-brand" target="_blank" href="https://vetal.com.ua/">
		<img src="image/logo.png" alt="Logo" style="width: 100px;">
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">

		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link text-light"
				th:href="@{/main}">Home</a></li>
			<!-- <li class="nav-item"><a class="nav-link" th:href="@{/userInfo}">User
					Info</a></li>
			<li class="nav-item">
        		<a class="nav-link" th:href="@{/admin}">Admin</a>
      		</li> -->

			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarContactsDrop"
				data-toggle="dropdown"> Contacts </a>
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/client}">Clients</a> 
					<a class="dropdown-item" th:href="@{/contractor}">Contractors</a> 
					<a class="dropdown-item" th:href="@{/manager}">Managers</a>
				</div>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDirectoriesDrop"
					data-toggle="dropdown"> Directories </a>
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/production}">Production</a> 
					<a class="dropdown-item" th:href="@{/paper}">Paper</a> 
					<a class="dropdown-item" th:href="@{/chromaticity}">Chromaticity</a>
					<a class="dropdown-item" th:href="@{/laminate}">Laminate</a> 
					<a class="dropdown-item" th:href="@{/cringle}">Cringle</a> 
					<a class="dropdown-item" th:href="@{/format}">Format</a> 
					<a class="dropdown-item" th:href="@{/stock}">Stock</a>
				</div>
			</li>

			<!-- <sec:authorize access="hasAuthority('ROLE_ADMIN')"> th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"-->
			<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')"><a
				class="nav-link dropdown-toggle" href="#" id="navbardrop"
				data-toggle="dropdown"> Administration </a>
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/admin}">Admin</a> <a
						class="dropdown-item" th:href="@{/users}">Users</a> <a
						class="dropdown-item" href="#">Link 3</a>
				</div></li>
			<!-- </sec:authorize> -->

			<!-- <li class="nav-item"></li> sec:authorize="hasRole('ROLE_USER')" 
			
			th:text="${#authorization.expression('hasAuthority('ROLE_ADMIN')')}"-->
			<!-- th:if="${#request.userPrincipal != null}"  hasRole('ADMIN') or hasRole('DBA') -->
		</ul>

		<ul class="navbar-nav" sec:authorize="isAnonymous()">

			<li class="nav-item"><a class="nav-link" th:href="@{/login}">Sign
					in</a></li>

		</ul>
		<ul class="navbar-nav" sec:authorize="isAuthenticated()">
			<li class="nav-item"><a class="nav-link" th:href="@{/userInfo}"><i
					class="fa fa-user"></i> User "<span sec:authentication="name"></span>"</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>

		</ul>
	</div>
</nav>
