<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <!-- <title th:utext="${title}">Edit user</title> -->
    <title>person Record</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="shortcut icon" th:href="@{/image/logo.ico}" type="image/x-icon">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container bg-light" style="margin-top: 30px">
    <div class="well">
        <h2>
            <span th:text="${pageName}"></span>
        </h2>

        <form action="#" method="POST"
              th:action="@{${pageLink}+'/update'}" th:object="${contragent}">

            <input id="recordId" th:field="*{id}" type="hidden"/>

            <div class="form-group row">
                <div class="col-6">
                    <label for="recordCorpName" th:text="#{label.corpName}">Corp name: </label>
                    <input autofocus="autofocus" class="form-control" id="recordCorpName"
                           placeholder="Enter Corp Name" th:disabled="${readOnly}"
                           th:field="*{corpName}" type="text"/>
                </div>

            </div>

            <div class="alert alert-danger" th:if="${#fields.hasErrors('corpName')}">
                <p th:text="${#fields.errors('corpName')}"></p>
                <!-- th:text="${#fields.errors('name')}" -->
            </div>


            <!-- Manager data-->
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="taskManager" th:text="#{label.manager}">Manager: </label>
                    <select class="form-control form-control-sm selectpicker" data-live-search="true" id="taskManager"
                            th:disabled="${readOnly}"
                            th:field="*{manager}">
                        <option th:attr="data-tokens=${dropDownItem.fullName}"
                                th:each="dropDownItem : ${managerList}"
                                th:text="${dropDownItem.fullName}"
                                th:value="${dropDownItem.id}"/>

                    </select>
                </div>

                <!--<div class="col-sm-6"
                     th:if="${managerList != null and not #lists.isEmpty(managerList)}">

                </div>-->
                <div class="col-sm-6"
                     th:if="${managerList == null or #lists.isEmpty(managerList)}">
                    <div>"No Managers were found, please create some first"</div>
                </div>
            </div>

            <div class="alert alert-danger"
                 th:if="${#fields.hasErrors('manager')}">
                <!-- <p th:text="${#fields.errors('manager')}" style ="margin-bottom: 0rem"></p> -->
                <h6>[[${#fields.errors('manager')}]]</h6>
            </div>
            <!-- !Manager Data-->

            <div class="row">
                <div class="col-sm-6">
                    <h4><span th:text="#{label.contact_person}">Contact person</span></h4>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-6">
                    <label for="recordLastName" th:text="#{label.lastname}">Last name: </label>
                    <input autofocus="autofocus" class="form-control" id="recordLastName"
                           placeholder="Enter Last Name" th:disabled="${readOnly}"
                           th:field="*{lastName}" type="text"/>
                </div>

            </div>

            <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}">
                <p th:text="${#fields.errors('lastName')}"></p>
                <!-- th:text="${#fields.errors('name')}" -->
            </div>

            <div class="form-group row">
                <div class="col-6">
                    <label for="recordFirstName" th:text="#{label.firstname}">First name: </label>
                    <input class="form-control" id="recordFirstName" placeholder="Enter First Name"
                           th:disabled="${readOnly}" th:field="*{firstName}" type="text"/>
                </div>

            </div>

            <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}">
                <p th:text="${#fields.errors('firstName')}"></p>
                <!-- th:text="${#fields.errors('name')}" -->
            </div>

            <div class="form-group row">
                <div class="col-6">
                    <label for="recordMiddleName" th:text="#{label.middlename}">Middle name: </label>
                    <input class="form-control" id="recordMiddleName" placeholder="Enter Middle Name"
                           th:disabled="${readOnly}" th:field="*{middleName}" type="text"/>
                </div>

            </div>

            <div class="alert alert-danger" th:if="${#fields.hasErrors('middleName')}">
                <p th:text="${#fields.errors('middleName')}"></p>
                <!-- th:text="${#fields.errors('name')}" -->
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label for="recordEmail" th:text="#{label.email}">Email: </label>
                    <input class="form-control" id="recordEmail" placeholder="Enter email"
                           th:disabled="${readOnly}" th:field="*{email}" type="text"/>
                    <!--<input class="form-control" type="email" id="recordEmail" th:field="*{email}"
                           placeholder="Enter email"/>-->
                </div>

            </div>

            <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}">
                <p th:text="${#fields.errors('email')}"></p>
            </div>

            <div class="form-group row">
                <div class="col-6">
                    <label for="recordPhone" th:text="#{label.phone}">Phone: </label>
                    <input class="form-control" id="recordPhone" placeholder="Enter phone number"
                           th:disabled="${readOnly}" th:field="*{phone}" type="text"/>
                </div>

            </div>


            <div class="alert alert-danger" th:if="${#fields.hasErrors('phone')}">
                <p th:text="${#fields.errors('phone')}"></p>
            </div>

            <div class="form-group row">
                <div class="col-6">
                    <label for="recordAddress" th:text="#{label.address}">Address: </label>
                    <input class="form-control" id="recordAddress" placeholder="Enter address"
                           th:disabled="${readOnly}" th:field="*{address}" type="text"/>
                </div>

            </div>

            <div class="alert alert-danger" th:if="${#fields.hasErrors('address')}">
                <p th:text="${#fields.errors('address')}"></p>
            </div>


            <div class="form-group row">
                <div class="col-6">
                    <label for="recordSiteURL" th:text="#{label.site}">Site: </label>
                    <input class="form-control" id="recordSiteURL" placeholder="Enter site URL"
                           th:disabled="${readOnly}" th:field="*{siteURL}" type="text"/>
                </div>

                <!--<div class="col-6">
                    </br>
                    <a role="button" class="btn btn-outline-primary" target="_blank" th:text="#{label.visit}"
                       th:href="@{${person.siteURL}}">Link</a>

                </div>-->

            </div>

            <div class="alert alert-danger" th:if="${#fields.hasErrors('siteURL')}">
                <p th:text="${#fields.errors('siteURL')}"></p>
            </div>

            <!-- Buttons -->

            <div th:if="${readOnly}">
                <div class="row">
                    <div class="col-sm-6">
                        <a class="btn btn-info btn-sm btn-info" role="button"
                           style="width: 100px;" th:href="@{${pageLink}}"
                           th:text="#{label.back}">Back</a>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
            </div>
            <div th:if="!${readOnly}">
                <div class="row">
                    <div class="col-sm-6">
                        <input class="btn btn-info btn-sm" style="width: 100px;"
                               type="submit" value="OK"/>
                    </div>

                    <div class="col-sm-6">
                        <a class="btn btn-info btn-outline-danger btn-sm float-right" role="button"
                           style="width: 100px;"
                           th:href="@{${pageLink}}" th:text="#{label.cancel}">Cancel</a>
                    </div>
                </div>
            </div>


        </form>

    </div>
</div>
</body>
</html>