<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <!-- <title th:utext="${title}">Edit user</title> -->
    <title>Directory Record</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container bg-light" style="margin-top: 30px">
    <div class="well">
        <h2>
            <span th:text="${directoryName}"></span>
        </h2>

        <form action="#" th:action="@{${pageName}+'/update'}"
              th:object="${directory}" method="POST">

            <input type="hidden" id="recordId" th:field="*{id}"/>

            <div class="form-group row">
                <div class="col-6">
                    <label for="recordName"><span th:text="#{label.name}"></span>: </label> <input class="form-control"
                                                                                                   type="text"
                                                                                                   id="recordName"
                                                                                                   th:field="*{name}"
                                                                                                   autofocus="autofocus"
                                                                                                   placeholder="Enter your Name"/>
                </div>

            </div>

            <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}">
                <p th:text="${#fields.errors('name')}"></p>
                <!-- th:text="${#fields.errors('name')}" -->
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="submit" style="width: 100px;"
                                   class="btn btn-info btn-sm" value="OK"/>
                        </div>

                        <div class="col-sm-6">
                            <a th:href="@{${pageName}}" style="width: 100px;"
                               class="btn btn-info btn-outline-danger btn-sm float-right"
                               role="button" th:text="#{label.cancel}">Cancel</a>
                        </div>
                    </div>

                </div>
            </div>

        </form>

    </div>
</div>
</body>
</html>