<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      
      <meta charset="UTF-8">
<title>Logout</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
   </head>
    
   <body>
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
       
      <h1><span th:text="#{message.logoutSuccessful}">Logout Successful!</span> </h1>

      <div class="row">
         <div class="col-sm-6">
            <a th:href="@{/tasks}" style="width: 100px;"
               class="btn btn-info btn-sm btn-info" role="button"
               th:text="#{label.back}">Back</a>
         </div>
      </div>
   </body>
    
</html>