<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:utext="${title}"></title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="shortcut icon" th:href="@{/image/logo.ico}" type="image/x-icon">

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>


<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<div class="container-fluid" style="margin-top: 30px">
    <div class="row">
        <!-- Left PART -->
        <div class="col-sm-2 bg-light">
            <h2>
                <span th:text="#{label.links}">Some Links</span>
            </h2>
            <!--<ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link" href="d:/1235.xls" download>Файл 1235</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Ссылка 2</a></li>
            </ul>-->

            <ul class="nav nav-pills flex-column" th:each="link : ${linksList}">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" th:text="${link.fullName}" th:href="@{${link.path}}">Link</a>
                </li>
            </ul>
            <hr class="d-sm-none">

        </div>

        <!-- Central PART -->
        <div class="col-sm-8">

            <div class="row text-center">
                <div class="column nature px-md-1" style="width: 50%;">
                    <div class="content">
                        <a th:href="@{/tasks}"> <img src="image/menu/contractors.jpeg"
                                                     alt="Contractors" class="rounded img-thumbnail img-fluid"
                                                     style="width:100%; height: 250px;">

                        </a>
                        <h4>
                            <span th:text="#{menu.label.tasks}">Tasks</span>
                        </h4>
                    </div>
                </div>

                <div class="column nature px-md-1" style="width: 50%;">
                    <div class="content">
                        <a th:href="@{/stencils}"> <img src="image/menu/stencils.jpeg"
                                                        alt="Stencils" class="rounded img-thumbnail img-fluid"
                                                        style="width:100%; height: 250px;">
                        </a>
                            <h4>
                                <span th:text="#{menu.label.stencils}">Stencils</span>
                            </h4>
                    </div>
                </div>

                <div class="column nature px-md-1" style="width: 25%;">
                </div>
                <div class="column nature px-md-1" style="width: 50%;">
                    <div class="content">
                        <a th:href="@{/statistic}"> <img src="image/menu/statistic.jpeg"
                                                         alt="Statistiv" class="rounded img-thumbnail img-fluid"
                                                         style="width:100%; height: 250px;">
                        </a>
                            <h4>
                                <span th:text="#{menu.label.statistic}">Statistic</span>
                            </h4>
                    </div>
                </div>
                <div class="column nature px-md-1" style="width: 25%;">
                </div>

            </div>




        </div>

        <!-- Right PART -->
        <div class="col-sm-2 bg-light">
            <!--<ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link" target="_blank"
                    th:href="@{/openFolder}">Папка с договорами</a></li>
            </ul>-->

            <!--
            <h3>
                <span th:text="#{label.folders}">Folders</span>
            </h3>

            <ul class="nav nav-pills flex-column" th:each="link : ${foldersList}">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" th:text="${link.fullName}"
                       th:href="@{'/folder-' + ${link.id}}">Folder</a>
                </li>
            </ul>
            <hr class="d-sm-none">
            -->

            <!--<h3>
                <span th:text="#{label.files}">Files</span>
            </h3>

            <ul class="nav nav-pills flex-column" th:each="link : ${filesList}">
                <li class="nav-item" target="_blank">-->

            <!--<a class="nav-link" target="_blank" th:text="${link.fullName}"
               th:href="@{'file:///' + ${link.path}}">File</a>
               good: th:href="@{'/file-' + ${link.id}}"-->

            <!--
                     <a class="nav-link" target="_blank" th:text="${link.fullName}"
                        th:href="@{'http://file:' + ${link.id}}">File</a>

                 </li>
             </ul>

             <hr class="d-sm-none">-->
        </div>

    </div>
</div>


<!-- Include _deleteConfirmDialog.html -->
<!--<th:block th:include="/_deleteConfirmDialog.html"></th:block>-->

</body>
</html>