<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
>

<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" th:href="@{/image/logo.ico}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>

<!-- Include _menu.html
<th:block th:include="/_menu"></th:block>
 -->
<div class="container py-5">
    <div class="row">

        <div class="col-md-6 mx-auto">

            <div class="card rounded-0">

                <div class="card-header">
                    <div class="text-center">
                        <h3>
                            <h3><i class="fa fa-lock" style="font-size:2em;"></i></h3>
                        </h3>
                        <h2 class="text-center"><span th:text="#{label.change_password}">Change password</span></h2>
                    </div>
                </div>

                <!--<input type="hidden" name="userId" th:object="${userId}"/>-->
                <!--<form action="#" th:object="${user}" method="get">
                    <input type="hidden" name="userId" th:field="*{id}"/>
                </form>-->

                <div class="card-body">

                    <div th:if="${error}">
                        <div class="alert alert-danger">
                            <span th:text="${error}"></span>
                        </div>
                    </div>

                    <form th:action="@{/passwordReset}" th:object="${passwordResetForm}" method="post">

                        <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                           th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                            error</p>

                        <input type="hidden" name="token" th:value="${token}"/>

                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                            <div class="input-group">
                                <div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1"><i
                                                class="fa fa-lock"></i></span>
                                </div>

                                <input id="password" class="form-control"
                                       placeholder="password" type="password" th:field="*{password}"/>
                            </div>
                            <p class="error-message"
                               th:each="error: ${#fields.errors('password')}"
                               th:text="${error}">Validation error</p>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                            <div class="input-group">
                                <div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2"><i
                                                class="fa fa-lock"></i></span>
                                </div>
                                <input id="confirmPassword" class="form-control"
                                       placeholder="Confirm password" type="password"
                                       th:field="*{confirmPassword}"/>
                            </div>
                            <p class="error-message"
                               th:each="error: ${#fields.errors('confirmPassword')}"
                               th:text="${error}">Validation error</p>
                        </div>

                        <hr/>

                        <div class="form-group">
                            <button name="submit" type="submit"
                                    class="btn btn-primary btn-block" value="submit"
                                    th:text="#{label.apply}">Apply
                            </button>
                        </div>

                        <!-- <div class="form-group">
                                <button type="submit" class="btn btn-block btn-success">Reset password</button>
                          </div> -->

                    </form>

                    <div class="row">
                        <div class="col-md-12"><span
                                th:text="#{message.already_registered} ">Already registered? </span><a href="/"
                                                                                                       th:href="@{/login}"
                                                                                                       th:text="#{label.submit}">Login</a>
                        </div>
                    </div>


                </div>

                <!-- card.// -->
            </div>

        </div>
    </div>
</div>


</body>
</html>