<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <!-- <title th:utext="${title}">Edit user</title> -->
    <title>stencil</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link rel="shortcut icon" th:href="@{/image/logo.ico}" type="image/x-icon">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.standalone.min.css}">
    <link rel="stylesheet" th:href="@{/css/vetal.css}">
    <!-- <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css"> -->

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-select.min.js}"></script>

    <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/js/locales/bootstrap-datepicker.ru.js}"></script>
    <script th:src="@{/js/vetal.js}"></script>

    <!-- <script src="/js/bootstrap.bundle.min.js"></script> -->


</head>
<body>
<div class="container bg-light" style="margin-top: 30px">
    <div class="well">

        <form action="#" method="POST" th:action="@{'/stencils/update'}"
              th:object="${stencil}">
            <!-- ID -->
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group row">
                        <div class="col-sm-7 align-self-center">
                            <h4>
                                <span th:text="#{label.stencilTaskName}">Stencil</span> №
                            </h4>
                        </div>

                        <div class="col-sm-5 align-self-center">
                            <input autofocus="autofocus" class="form-control form-control-sm"
                                   id="number" th:disabled="${readOnly}"
                                   th:field="*{number}" type="number"/>
                        </div>
                        <div class="alert alert-danger"
                             th:if="${#fields.hasErrors('number')}">
                            <h6>[[${#fields.errors('number')}]]</h6>
                        </div>

                        <!--<div class="form-inline" th:if="${readOnly}">
                            <input id="fullNumber" class="col-sm-9 form-control form-control-sm"
                                   th:field="*{fullNumber}" th:disabled="${readOnly}"/>
                        </div>-->

                        <input class="col-sm-9 form-control form-control-sm" hidden
                               id="fullNumber" th:field="*{fullNumber}"/>

                    </div>
                </div>

                <!--Id & Copy-->
                <div class="col-sm-6 align-self-center">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilID"><span>ID</span>:</label>
                        <div class="col-sm-4">
                            <input class="form-control form-control-sm" id="stencilID"
                                   placeholder="id" th:disabled="true" th:value="*{id}"
                                   type="text"/>
                        </div>
                        <div class="col-sm-5 align-self-center">
                            <a class="btn btn-primary btn-sm custom-width float-right "
                               role="button"
                               sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')" style="width: 100px;"
                               th:href="@{'/stencils/copy-' + ${stencil.id}}"
                               th:text="#{label.copy}">Copy</a>
                        </div>
                    </div>

                </div>

                <input id="recordId" th:field="*{id}" type="hidden"/>

            </div>

            <!-- Account & Client -->
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="numberBaseList"><span
                                th:text="#{label.account}">Account</span>:</label>
                        <div class="col-sm-3">
                            <!--<input class="form-control form-control-sm" type="text"
                                   id="stencilAccount" th:field="*{account}"
                                   th:disabled="${readOnly}"
                                   placeholder="Enter Account"/>-->
                            <!--style="width: 80px;"-->
                            <select class="form-control form-control-sm selectpicker" data-live-search="true"
                                    id="numberBaseList"
                                    th:disabled="${readOnly}"
                                    th:field="*{numberBase}">
                                <option th:each="dropDownItem : ${numberBaseList}"
                                        th:text="${dropDownItem.name}" th:value="${dropDownItem.id}"/>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control form-control-sm" id="numberSuffix"
                                   th:disabled="${readOnly}" th:field="*{numberSuffix}"
                                   type="number"/>
                        </div>
                    </div>

                </div>
                <div class="form-inline">
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('numberBase')}">
                        <h6>[[${#fields.errors('numberBase')}]]</h6>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('numberSuffix')}">
                        <h6>[[${#fields.errors('numberSuffix')}]]</h6>
                    </div>
                </div>

                <!--<div class="alert alert-danger"
                     th:if="${#fields.hasErrors('account')}">
                    &lt;!&ndash; <p th:text="${#fields.errors('account')}" style ="margin-bottom: 0rem"></p> &ndash;&gt;
                    <h6>[[${#fields.errors('account')}]]</h6>
                </div>-->


                <div class="col-sm-6" th:if="!${readOnly}">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilClient"><span
                                th:text="#{label.client}">Client</span>:</label>
                        <div class="col-sm-9"
                             th:if="${clientList != null and not #lists.isEmpty(clientList)}">
                            <select class="form-control form-control-sm selectpicker" data-live-search="true"
                                    id="stencilClient" th:disabled="${readOnly}"
                                    th:field="*{client}">
                                <option th:attr="data-tokens=${dropDownItem.fullName}"
                                        th:each="dropDownItem : ${clientList}" th:text="${dropDownItem.fullName}"
                                        th:value="${dropDownItem.id}"/>
                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${clientList == null or #lists.isEmpty(clientList)}">
                            <div>"No Clients were found, please create some first"</div>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('client')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('client')}"></p>
                    </div>

                </div>

                <div class="col-sm-6" th:if="${readOnly}">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilClient_readOnly"><span
                                th:text="#{label.client}">Client</span>:</label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" id="stencilClient_readOnly"
                                   th:disabled="${readOnly}" th:field="*{client.fullName}"
                                   type="text"/>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Amount & Cost Of Materials & Other expenses & Cost Of Printing-->
            <div class="row">
                <div class="col-sm-3">

                    <div class="form-group row">

                        <label class="col-sm-4 col-form-label col-form-label-sm"
                               for="stencilAmount"><span
                                th:text="#{label.order_amount}">Order amount</span>: </label>
                        <div class="col-sm-8">
                            <input class="form-control form-control-sm" id="stencilAmount" min="0.00"
                                   onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
                                   step="0.01" th:disabled="${readOnly}"
                                   th:field="*{amount}"
                                   type="number"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('amount')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('amount')}"></p>
                    </div>
                </div>
                <div class="col-sm-3">

                    <div class="form-group row">

                        <label class="col-sm-4 col-form-label col-form-label-sm"
                               for="stencilCostOfMaterials"><span
                                th:text="#{label.cost_of_materials}">Cost Of Materials</span>: </label>
                        <div class="col-sm-8">
                            <input class="form-control form-control-sm" id="stencilCostOfMaterials" min="0.00"
                                   onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
                                   step="0.01" th:disabled="${readOnly}"
                                   th:field="*{costOfMaterials}"
                                   type="number"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('costOfMaterials')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('costOfMaterials')}"></p>
                    </div>
                </div>
                <div class="col-sm-3">

                    <div class="form-group row">

                        <label class="col-sm-4 col-form-label col-form-label-sm"
                               for="stencilOtherExpenses"><span
                                th:text="#{label.other_expenses}">Other expenses</span>: </label>
                        <div class="col-sm-8">
                            <input class="form-control form-control-sm" id="stencilOtherExpenses" min="0.00"
                                   onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
                                   step="0.01" th:disabled="${readOnly}"
                                   th:field="*{otherExpenses}"
                                   type="number"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('otherExpenses')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('otherExpenses')}"></p>
                    </div>
                </div>
                <div class="col-sm-3">

                    <div class="form-group row">

                        <label class="col-sm-4 col-form-label col-form-label-sm"
                               for="stencilCostOfPrinting"><span
                                th:text="#{label.cost_of_printing}">Cost Of Printing</span>: </label>
                        <div class="col-sm-8">
                            <input class="form-control form-control-sm" id="stencilCostOfPrinting" min="0.00"
                                   onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"
                                   step="0.01" th:disabled="${readOnly}"
                                   th:field="*{costOfPrinting}"
                                   type="number"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('costOfPrinting')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('costOfPrinting')}"></p>
                    </div>
                </div>
            </div>

            <!-- Order name & Manager -->
            <div class="row">
                <div class="col-6">

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilOrderName"><span
                                th:text="#{label.order_name}">Order name</span>:</label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" id="stencilOrderName"
                                   placeholder="Enter Oreder Name" th:disabled="${readOnly}"
                                   th:field="*{orderName}" type="text"/>
                        </div>
                    </div>

                </div>

                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilManager"><span
                                th:text="#{label.manager}">Manager</span>:</label>
                        <div class="col-sm-9"
                             th:if="${managerList != null and not #lists.isEmpty(managerList)}">
                            <select class="form-control form-control-sm selectpicker" data-live-search="true"
                                    id="stencilManager"
                                    th:disabled="${readOnly}"
                                    th:field="*{manager}">
                                <option th:attr="data-tokens=${dropDownItem.fullName}"
                                        th:each="dropDownItem : ${managerList}"
                                        th:text="${dropDownItem.fullName}"
                                        th:value="${dropDownItem.id}"/>

                            </select>
                        </div>

                        <div class="col-sm-9"
                             th:if="${managerList == null or #lists.isEmpty(managerList)}">
                            <div>"No Managers were found, please create some first"</div>
                        </div>
                    </div>

                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('manager')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('manager')}"></p>
                    </div>
                </div>
            </div>

            <!--Dates Begin & End -->
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilDateBegin"><span
                                th:text="#{label.stencil_date}">Date begin</span>:</label>
                        <div class="col-sm-9">
                            <!--<input id="stencilDateBegin" type="date" th:disabled="${readOnly}"
                                   class="form-control form-control-sm" th:field="*{dateBegin}"
                                   th:value="${#dates.format(stencil.dateBegin, 'yyyy-MM-dd')}"/>-->
                            <!-- th:value="${{stencil.dateBegin}}"  -->
                            <input class="form-control form-control-sm" id="stencilDateBegin" th:disabled="${readOnly}"
                                   th:field="*{dateBegin}"
                                   th:placeholder="dd.mm.yyyy" type="text"/>
                        </div>

                    </div>

                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('dateBegin')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('dateBegin')}"></p>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilDateEnd"><span
                                th:text="#{label.completion_date}">Date end</span>:</label>
                        <div class="col-sm-9">
                            <!--<input id="stencilDateEnd" type="date" th:disabled="${readOnly}"
                                   class="form-control form-control-sm" th:field="${stencil.dateEnd}"
                                   th:value="${{stencil.dateEnd}}"/>-->
                            <!-- th:value="${#dates.format(stencil.dateEnd, 'yyyy-MM-dd')}" *{dateEnd}-->
                            <input class="form-control form-control-sm" id="stencilDateEnd" th:disabled="${readOnly}"
                                   th:field="*{dateEnd}"
                                   th:placeholder="dd.mm.yyyy" type="text"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('dateEnd')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('dateEnd')}"></p>
                    </div>


                </div>
            </div>

            <!-- Stock & Production -->
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilStock"><span
                                th:text="#{label.stock}">Stock</span>:</label>
                        <div class="col-sm-9"
                             th:if="${stockList != null and not #lists.isEmpty(stockList)}">
                            <select class="form-control form-control-sm selectpicker" data-live-search="true"
                                    id="stencilStock" th:disabled="${readOnly}"
                                    th:field="*{stock}">
                                <option th:attr="data-tokens=${dropDownItem.name}"
                                        th:each="dropDownItem : ${stockList}" th:text="${dropDownItem.name}"
                                        th:value="${dropDownItem.id}"/>
                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${stockList == null or #lists.isEmpty(stockList)}">
                            <div>"No Stocks were found, please create some first"</div>
                        </div>
                    </div>

                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('stock')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('stock')}"></p>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilProduction"><span
                                th:text="#{label.production}">Production</span>:</label>
                        <div class="col-sm-9"
                             th:if="${productionList != null and not #lists.isEmpty(productionList)}">
                            <select class="form-control form-control-sm selectpicker" data-live-search="true"
                                    id="stencilProduction" th:disabled="${readOnly}"
                                    th:field="*{production}">
                                <option th:attr="data-tokens=${dropDownItem.fullName}"
                                        th:each="dropDownItem : ${productionList}" th:text="${dropDownItem.fullName}"
                                        th:value="${dropDownItem.id}"/>
                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${productionList == null or #lists.isEmpty(productionList)}">
                            <div>"No Productions were found, please create some first"</div>
                        </div>
                    </div>

                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('production')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('production')}"></p>
                    </div>
                </div>

            </div>

            <!-- Printing & Printing units & Adjustment -->
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilPrinting"><span
                                th:text="#{label.printing}">Printing</span>:</label>
                        <div class="col-sm-3">
                            <input class="form-control form-control-sm" id="stencilPrinting"
                                   min="0" placeholder="Enter Printing amount" th:disabled="${readOnly}"
                                   th:field="*{printing}" type="number"/>
                        </div>

                        <!--<label for="printingUnit"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.printing_unit}">Printing</span>: </label>-->
                        <div class="col-sm-6"
                             th:if="${printingUnitList != null and not #lists.isEmpty(printingUnitList)}">
                            <select class="form-control form-control-sm selectpicker" data-live-search="true"
                                    id="printingUnit" th:disabled="${readOnly}"
                                    th:field="*{printingUnit}">
                                <option th:attr="data-tokens=${dropDownItem.name}"
                                        th:each="dropDownItem : ${printingUnitList}" th:text="${dropDownItem.name}"
                                        th:value="${dropDownItem.id}"/>
                            </select>
                        </div>
                        <div class="col-sm-6"
                             th:if="${printingUnitList == null or #lists.isEmpty(printingUnitList)}">
                            <div>"No Printing Units were found, please create some first"</div>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('printing')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('printing')}"></p>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilKraskoottisk"><span
                                th:text="#{label.kraskoottisk}">Kraskoottisk</span>:</label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" id="stencilKraskoottisk"
                                   placeholder="Enter kraskoottisk amount" th:disabled="${readOnly}"
                                   th:field="*{kraskoottisk}" type="number"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('sheetNumber')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('sheetNumber')}"></p>
                    </div>
                    <!--<div class="form-group row">

                        <label for="stencilAdjustment"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.adjustment}">Adjustment</span>:</label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="number"
                                   min="0" id="stencilAdjustment" th:field="*{adjustment}"
                                   th:disabled="${readOnly}" placeholder="Enter Adjustment amount"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('adjustment')}">
                        <p th:text="${#fields.errors('adjustment')}"
                           style="margin-bottom: 0rem"></p>
                    </div>-->

                </div>

            </div>

            <!-- Paper & Paper_Format -->
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilPaper"><span
                                th:text="#{label.paper}">Paper</span>:</label>
                        <div class="col-sm-9"
                             th:if="${paperList != null and not #lists.isEmpty(paperList)}">
                            <select class="form-control form-control-sm selectpicker" data-live-search="true"
                                    id="stencilPaper" th:disabled="${readOnly}"
                                    th:field="*{paper}">

                                <option th:attr="data-tokens=${dropDownItem.name}"
                                        th:each="dropDownItem : ${paperList}" th:text="${dropDownItem.name}"
                                        th:value="${dropDownItem.id}"/>
                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${paperList == null or #lists.isEmpty(paperList)}">
                            <div>"No Papers were found, please create some first"</div>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('paper')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('paper')}"></p>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="paperFormat"><span
                                th:text="#{label.paper_format}">Paper format</span>:</label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" id="paperFormat"
                                   placeholder="Enter Paper format" th:disabled="${readOnly}"
                                   th:field="*{paperFormat}" type="text"/>
                        </div>
                    </div>

                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('paperFormat')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('paperFormat')}"></p>
                    </div>
                </div>

            </div>
            <!-- Production availability -->
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilPaper"><span
                                th:text="#{label.production_availability}">Production availability</span>:</label>
                        <div class="col-sm-9">
                            <!--th:if="${productionAvailabilityList != null and not #lists.isEmpty(productionAvailabilityList)}"-->
                            <select class="form-control form-control-sm selectpicker" data-live-search="true"
                                    id="stencilProductionAvailabilityList" th:disabled="${readOnly}"
                                    th:field="*{productionAvailability}">
                                <option th:text="#{label.select_choose}" value=""> Please Select</option>
                                <option th:attr="data-tokens=${dropDownItem.name}"
                                        th:each="dropDownItem : ${T(ua.com.vetal.entity.ProductionAvailability).values()}"
                                        th:text="#{${'label.production_availability.' + dropDownItem.name}}"
                                        th:value="${dropDownItem}"/>
                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${paperList == null or #lists.isEmpty(paperList)}">
                            <div>"No Papers were found, please create some first"</div>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('productionAvailability')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('productionAvailability')}"></p>
                    </div>

                </div>
                <div class="col-sm-6">

                </div>

            </div>

            <!-- Printing Note -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="stencilPrintingNote"><span th:text="#{label.note}">Note</span>:</label>
                        <textarea class="form-control" id="stencilPrintingNote" maxlength="1000"
                                  rows="2" th:disabled="${readOnly}" th:field="*{printingNote}"></textarea>
                    </div>
                </div>
            </div>

            <!-- Sheets Numbers -->
            <div class="row" hidden>
                <div class="col-sm-6">

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="sheetNumber"><span
                                th:text="#{label.sheet_number}">Sheets number</span>:</label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" id="sheetNumber"
                                   placeholder="Enter Sheets number" th:disabled="${readOnly}"
                                   th:field="*{sheetNumber}" type="number"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('sheetNumber')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('sheetNumber')}"></p>
                    </div>

                </div>
                <div class="col-sm-6">

                </div>

            </div>

            <!-- Printer & Printer date begin -->
            <div class="row">
                <div class="col-6">

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilPrinter"><span
                                th:text="#{label.printer}">Printer</span>:</label>
                        <div class="col-sm-9">
                            <select class="form-control form-control-sm selectpicker" data-live-search="true"
                                    id="stencilPrinter"
                                    th:disabled="${readOnly}"
                                    th:field="*{printer}">
                                <option th:text="#{label.select_choose}" value="">Please Select</option>
                                <option th:attr="data-tokens=${dropDownItem.fullName}"
                                        th:each="dropDownItem : ${printerList}"
                                        th:text="${dropDownItem.fullName}"
                                        th:value="${dropDownItem.id}"/>

                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${printerList == null or #lists.isEmpty(printerList)}">
                            <div>"No Printers were found, please create some first"</div>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('printer')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('printer')}"></p>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilPrintingDateBegin"><span
                                th:text="#{label.printing_date}">Printing Date begin</span>:</label>
                        <div class="col-sm-9">
                            <!--<input id="stencilPrintingDateBegin" type="date" th:disabled="${readOnly}"
                                   class="form-control form-control-sm" th:field="*{datePrintBegin}"
                                   th:value="${#dates.format(stencil.datePrintBegin, 'yyyy-MM-dd')}"/>-->
                            <!-- th:value="${{stencil.dateBegin}}"  -->
                            <input class="form-control form-control-sm" id="stencilPrintingDateBegin"
                                   th:disabled="${readOnly}"
                                   th:field="*{datePrintBegin}"
                                   th:placeholder="dd.mm.yyyy" type="text"/>
                        </div>

                    </div>

                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('datePrintBegin')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('datePrintBegin')}"></p>
                    </div>
                </div>
            </div>

            <!-- Worker print & Worker cut -->
            <div class="row">
                <div class="col-6">

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilWorkerPrint"><span
                                th:text="#{label.worker_print}">Worker print</span>:</label>
                        <div class="col-sm-9">
                            <select class="form-control form-control-sm selectpicker" data-live-search="true"
                                    id="stencilWorkerPrint"
                                    th:disabled="${readOnly}"
                                    th:field="*{workerPrint}">
                                <!--<option th:value="0" th:text="Please Select"></option>-->
                                <option th:text="#{label.select_choose}" value=""> Please Select</option>
                                <option th:attr="data-tokens=${dropDownItem.fullName}"
                                        th:each="dropDownItem : ${workerList}"
                                        th:text="${dropDownItem.fullName}"
                                        th:value="${dropDownItem.id}"
                                />

                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${workerList == null or #lists.isEmpty(workerList)}">
                            <div>"No Workers were found, please create some first"</div>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('workerPrint')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('workerPrint')}"></p>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilWorkerCut"><span
                                th:text="#{label.worker_cut}">Worker cut</span>:</label>
                        <div class="col-sm-9">
                            <select class="form-control form-control-sm selectpicker" data-live-search="true"
                                    id="stencilWorkerCut"
                                    th:disabled="${readOnly}"
                                    th:field="*{workerCut}">
                                <option th:text="#{label.select_choose}" value=""> Please Select</option>
                                <option th:attr="data-tokens=${dropDownItem.fullName}"
                                        th:each="dropDownItem : ${workerList}"
                                        th:text="${dropDownItem.fullName}"
                                        th:value="${dropDownItem.id}"/>

                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${workerList == null or #lists.isEmpty(workerList)}">
                            <div>"No Workers were found, please create some first"</div>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('workerCut')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('workerCut')}"></p>
                    </div>
                </div>
            </div>


            <!-- Fillet & Popup & Carving & Bending & Assembly & Cutting & Plotter -->
            <div class="row">
                <div class="col-sm-12">

                    <div class="form-inline">
                        <!--<div class="form-group mb-2">-->

                        <label class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"
                               for="stencilFillet"><span
                                th:text="#{label.fillet}">Fillet</span>: </label>
                        <input class="ml-sm mb-2 mr-sm-5" id="stencilFillet" th:disabled="${readOnly}"
                               th:field="*{fillet}"
                               type="checkbox"/>

                        <label class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"
                               for="stencilPopup"><span
                                th:text="#{label.popup}">Popup</span>: </label>
                        <input class="ml-sm mb-2 mr-sm-5" id="stencilPopup" th:disabled="${readOnly}"
                               th:field="*{popup}"
                               type="checkbox"/>

                        <label class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"
                               for="stencilCarving"><span
                                th:text="#{label.carving}">Carving</span>: </label>
                        <input class="ml-sm mb-2 mr-sm-5" id="stencilCarving" th:disabled="${readOnly}"
                               th:field="*{carving}"
                               type="checkbox"/>

                        <label class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"
                               for="stencilStamping"><span
                                th:text="#{label.stamping}">Stamping</span>: </label>
                        <input class="ml-sm mb-2 mr-sm-5" id="stencilStamping" th:disabled="${readOnly}"
                               th:field="*{stamping}"
                               type="checkbox"/>

                        <label class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"
                               for="stencilEmbossing"><span
                                th:text="#{label.embossing}">Embossing</span>: </label>
                        <input class="ml-sm mb-2 mr-sm-5" id="stencilEmbossing" th:disabled="${readOnly}"
                               th:field="*{embossing}"
                               type="checkbox"/>

                        <label class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"
                               for="stencilBending"><span
                                th:text="#{label.bending}">Bending</span>: </label>
                        <input class="ml-sm mb-2 mr-sm-5" id="stencilBending" th:disabled="${readOnly}"
                               th:field="*{bending}"
                               type="checkbox"/>

                        <label class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"
                               for="plotter"><span
                                th:text="#{label.plotter}">Plotter</span>: </label>
                        <input class="ml-sm mb-2 mr-sm-5" id="plotter" th:disabled="${readOnly}" th:field="*{plotter}"
                               type="checkbox"/>
                    </div>
                </div>
            </div>

            <!-- Pack & PackBox & PackPellicle & PackPackage & PackNP -->
            <div class="row">
                <div class="col-sm-12">

                    <div class="form-inline">
                        <!--<div class="form-group">-->

                        <label class="ml-sm mb-2 mr-sm-3 col-form-label col-form-label-sm"
                               for="packBox"><span
                                th:text="#{label.packaging}">Packaging</span>: </label>

                        <label class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"
                               for="packBox"><span
                                th:text="#{label.packBox}">Box</span>: </label>
                        <input class="ml-sm mb-2 mr-sm-5" id="packBox" th:disabled="${readOnly}" th:field="*{packBox}"
                               type="checkbox"/>

                        <label class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"
                               for="packPellicle"><span
                                th:text="#{label.packPellicle}">Pellicle</span>: </label>
                        <input class="ml-sm mb-2 mr-sm-5" id="packPellicle" th:disabled="${readOnly}"
                               th:field="*{packPellicle}"
                               type="checkbox"/>

                        <label class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"
                               for="packPaper"><span
                                th:text="#{label.packPaper}">Paper</span>: </label>
                        <input class="ml-sm mb-2 mr-sm-5" id="packPaper" th:disabled="${readOnly}"
                               th:field="*{packPaper}"
                               type="checkbox"/>

                        <label class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"
                               for="packPackage"><span
                                th:text="#{label.packPackage}">Package</span>: </label>
                        <input class="ml-sm mb-2 mr-sm-5" id="packPackage" th:disabled="${readOnly}"
                               th:field="*{packPackage}"
                               type="checkbox"/>

                        <label class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"
                               for="packNP"><span
                                th:text="#{label.packNP}">for NP</span>: </label>
                        <input class="ml-sm mb-2 mr-sm-5" id="packNP" th:disabled="${readOnly}" th:field="*{packNP}"
                               type="checkbox"/>

                    </div>
                </div>
            </div>

            <!-- Numeration & Numeration from & Cut_ribbon & Ribbon_length  & Sticker -->
            <div class="row">

                <div class="col-sm-4">

                    <!--<div class="form-group">-->
                    <div class="form-inline">

                        <label class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"
                               for="numeration"><span
                                th:text="#{label.numeration}">Numeration</span>: </label>
                        <!--<div class="form-check mb-2 mr-sm-2">
                            <label class="form-check-label">
                                <input class="form-check-input "type="checkbox"> Remember me
                            </label>
                        </div>-->

                        <input class="mr-sm-3 mb-2" id="numeration" th:disabled="${readOnly}" th:field="*{numeration}"
                               type="checkbox"/>

                        <label class="mr-sm-2 mb-2  col-form-label col-form-label-sm"
                               for="numerationFrom"><span
                                th:text="#{label.numeration_from}">Numeration from</span>: </label>

                        <input class="mr-sm-2 mb-2 form-control form-control-sm" id="numerationFrom" min="0"
                               placeholder="Enter number from" style="width:100px;" th:disabled="${readOnly}"
                               th:field="*{numerationStart}" type="number"/>

                    </div>

                </div>

                <div class="col-sm-5">

                    <!--<div class="form-group">-->
                    <div class="form-inline">

                        <label class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"
                               for="cut_ribbon"><span
                                th:text="#{label.cut_ribbon}">Cut ribbon</span>: </label>

                        <input class="mr-sm-3 mb-2" id="cut_ribbon" th:disabled="${readOnly}" th:field="*{cutRibbon}"
                               type="checkbox"/>

                        <label class="mr-sm-2 mb-2  col-form-label col-form-label-sm"
                               for="ribbonLength"><span
                                th:text="#{label.ribbon_length}">Ribbon length</span>: </label>

                        <input class="mr-sm-2 mb-2  form-control form-control-sm" id="ribbonLength" min="0"
                               placeholder="Enter ribbon length" style="width:100px;" th:disabled="${readOnly}"
                               th:field="*{ribbonLength}" type="number"/>

                    </div>

                </div>

                <div class="col-sm-3">

                    <div class="form-group row">
                        <!--<label for="stencilSticker"
                               class="col-sm-9 col-form-label col-form-label-sm"><span
                                th:text="#{label.glue_sticker}">Glue Sticker</span>: </label>
                        <div class="col-sm-3 align-self-center">
                            <input type="checkbox" id="stencilSticker" th:field="*{sticker}"
                                   th:disabled="${readOnly}"/>
                        </div>-->

                        <label class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"
                               for="stencilSticker"><span
                                th:text="#{label.glue_sticker}">Glue Sticker</span>: </label>
                        <input class="ml-sm mt-2 mr-sm-5" id="stencilSticker" th:disabled="${readOnly}"
                               th:field="*{sticker}" type="checkbox"/>

                    </div>

                    <!--<div class="form-group row">

                        <label for="numerationFrom"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.numeration_from}">Numeration from</span>: </label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="number"
                                   min="1" id="numerationFrom" th:field="*{numerationStart}"
                                   th:disabled="${readOnly}" placeholder="Enter number from"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('numerationStart')}">
                        <p th:text="${#fields.errors('numerationStart')}"
                           style="margin-bottom: 0rem"></p>
                    </div>-->
                </div>
            </div>


            <!-- State & Payment & Debt-->
            <div class="row">
                <div class="col-4">

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilState"><span
                                th:text="#{label.state}">State</span>:</label>
                        <div class="col-sm-9">
                            <select class="form-control form-control-sm selectpicker" data-live-search="false"
                                    id="stencilState"
                                    th:disabled="${readOnly}"
                                    th:field="*{state}">

                                <!--<option value="" th:text="#{label.select_choose}"> Please Select</option>-->
                                <option th:attr="data-tokens=${dropDownItem.altName}"
                                        th:each="dropDownItem : ${stateList}"
                                        th:text="${dropDownItem.altName}"
                                        th:value="${dropDownItem.id}"
                                />

                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${stateList == null or #lists.isEmpty(stateList)}">
                            <div>"No Workers were found, please create some first"</div>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('state')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('state')}"></p>
                    </div>
                </div>
                <div class="col-sm-4">

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilPayment"><span
                                th:text="#{label.payment}">Payment</span>:</label>

                        <div class="col-sm-9"
                             th:if="${printingUnitList != null and not #lists.isEmpty(paymentList)}">
                            <select class="form-control form-control-sm selectpicker" data-live-search="true"
                                    id="stencilPayment" th:disabled="${readOnly}"
                                    th:field="*{payment}">
                                <option th:attr="data-tokens=${dropDownItem.name}"
                                        th:each="dropDownItem : ${paymentList}" th:text="${dropDownItem.altName}"
                                        th:value="${dropDownItem.id}"/>
                            </select>
                        </div>

                        <!--<div class="col-sm-6"
                             th:if="${printingUnitList == null or #lists.isEmpty(printingUnitList)}">
                            <div>"No Printing Units were found, please create some first"</div>
                        </div>-->
                    </div>
                    <!--<div class="alert alert-danger"
                         th:if="${#fields.hasErrors('printing')}">
                        <p th:text="${#fields.errors('printing')}"
                           style="margin-bottom: 0rem"></p>
                    </div>-->

                </div>

                <div class="col-sm-4">

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label col-form-label-sm"
                               for="stencilDebtAmount"><span
                                th:text="#{label.debt}">Debt</span>:</label>

                        <div class="col-sm-9">
                            <input ${#numbers.formatDecimal(abc.value, 1, class="form-control form-control-sm"
                                   id="stencilDebtAmount"
                                   min="0.00" step="0.01"
                                   th:field="*{debtAmount}" type="number" 'DEFAULT', 2, 'DEFAULT')}
                            ${#numbers.formatDecimal(

                            th:disabled="${readOnly}"
                            onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"/>
                        </div>
                        <!--<div class="col-sm-6"
                             th:if="${printingUnitList == null or #lists.isEmpty(printingUnitList)}">
                            <div>"No Printing Units were found, please create some first"</div>
                        </div>-->
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('debtAmount')}">
                        <p style="margin-bottom: 0rem"
                           th:text="${#fields.errors('debtAmount')}"></p>
                    </div>
                    <!--<div class="alert alert-danger"
                         th:if="${#fields.hasErrors('printing')}">
                        <p th:text="${#fields.errors('printing')}"
                           style="margin-bottom: 0rem"></p>
                    </div>-->


                </div>

                <!--<div class="col-6">
                    <div class="form-group row">

                        <label for="stencilWorkerCut"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.worker_cut}">Worker cut</span>:</label>
                        <div class="col-sm-9">
                            <select id="stencilWorkerCut" th:field="*{workerCut}" th:disabled="${readOnly}"
                                    class="form-control form-control-sm selectpicker"
                                    data-live-search="true">
                                <option value="" th:text="#{label.select_choose}"> Please Select</option>
                                <option th:each="dropDownItem : ${workerList}"
                                        th:value="${dropDownItem.id}"
                                        th:text="${dropDownItem.fullName}"
                                        th:attr="data-tokens=${dropDownItem.fullName}"/>

                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${workerList == null or #lists.isEmpty(workerList)}">
                            <div>"No Workers were found, please create some first"</div>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('workerCut')}">
                        <p th:text="${#fields.errors('workerCut')}"
                           style="margin-bottom: 0rem"></p>
                    </div>
                </div>-->
            </div>

            <!-- Buttons -->

            <div th:if="${readOnly}">
                <div class="row">
                    <div class="col-sm-6">
                        <a class="btn btn-info btn-sm btn-info" role="button"
                           style="width: 100px;" th:href="@{/stencils}"
                           th:text="#{label.back}">Back</a>
                    </div>

                    <div class="col-sm-6">
                        <a class="btn btn-warning btn-sm custom-width float-right" role="button"
                           style="width: 80px;" th:href="@{'/stencils/pdfReport-' + ${stencil.id}}">PDF</a>
                    </div>
                </div>
            </div>
            <div th:if="!${readOnly}">
                <div class="row">
                    <div class="col-sm-6">
                        <input class="btn btn-info btn-sm" style="width: 100px;"
                               type="submit" value="OK"/>
                    </div>

                    <div class="col-sm-6">
                        <a class="btn btn-info btn-outline-danger btn-sm float-right" role="button"
                           style="width: 100px;"
                           th:href="@{/stencils}" th:text="#{label.cancel}">Cancel</a>
                    </div>
                </div>
            </div>
        </form>

        <br/>
    </div>
</div>


<script>
    initDatePicker('#stencilDateBegin');
    initDatePicker('#stencilDateEnd');
    initDatePicker('#stencilPrintingDateBegin');
</script>

</body>
</html>