<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:utext="${title}"></title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/vetal.css">

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>


</head>


<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<div class="container-fluid" style="margin-top: 30px">
    <div class="row">
        <!-- Left PART -->
        <div class="col-sm-2 bg-light">
            <h2><span th:text="#{label.filter}">Filter</span>:</h2>
            <form action="#" th:action="@{'/stencils/filter'}"
                  th:object="${filterData}" method="GET">

                <div class="form-group">
                    <label for="filterNumber"><span th:text="#{label.number}">Number</span>:</label>
                    <input type="text" class="form-control form-control-sm" id="filterNumber"
                           th:field="*{number}">
                </div>


                <div class="form-group">
                    <label for="filterClient"><span th:text="#{label.client}">Client</span>:</label> <select
                        id="filterClient" class="form-control form-control-sm selectpicker"
                        data-live-search="true" th:field="*{client}">
                    <option value="" th:text="#{label.select_choose}">Please Select</option>
                    <option th:each="dropDownItem : ${clientList}"
                            th:value="${dropDownItem.id}" th:text="${dropDownItem.name}"
                            th:attr="data-tokens=${dropDownItem.name}"/>
                </select>
                </div>

                <div class="form-group">
                    <label for="filterManager"><span th:text="#{label.manager}">Manager</span>:</label> <select
                        id="filterManager" class="form-control form-control-sm selectpicker"
                        data-live-search="true" th:field="*{manager}">
                    <option value="" th:text="#{label.select_choose}">Please Select</option>
                    <option th:each="dropDownItem : ${managerList}"
                            th:value="${dropDownItem.id}" th:text="${dropDownItem.fullName}"
                            th:attr="data-tokens=${dropDownItem.fullName}"/>
                </select>
                </div>

                <div class="form-group">
                    <label for="filterPrinter"><span th:text="#{label.printer}">Printer</span>:</label> <select
                        id="filterPrinter" class="form-control form-control-sm selectpicker"
                        data-live-search="true" th:field="*{printer}">
                    <option value="" th:text="#{label.select_choose}">Please Select</option>
                    <option th:each="dropDownItem : ${printerList}"
                            th:value="${dropDownItem.id}" th:text="${dropDownItem.fullName}"
                            th:attr="data-tokens=${dropDownItem.fullName}"/>
                </select>
                </div>

                <div class="form-group">
                    <label for="filterDateBeginFrom"><span th:text="#{label.date_from}">Date From</span>:</label> <input
                        id="filterDateBeginFrom" type="date"
                        class="form-control form-control-sm" th:field="*{dateBeginFrom}"/>
                    <!-- th:field="*{dateBeginFrom}"  -->
                </div>

                <div class="form-group">
                    <label for="filterDateBeginTill"><span th:text="#{label.date_till}">Date Till</span>:</label> <input
                        id="filterDateBeginTill" type="date"
                        class="form-control form-control-sm" th:field="*{dateBeginTill}"/>
                    <!-- th:field="*{dateBeginTill}"  -->
                </div>

                <hr class="d-sm-none">

                <div class="form-group text-center align-self-center">
                    <input type="submit" style="width: 100px;"
                           class="btn btn-info btn-sm" value="On" th:value="#{label.on}"/>
                </div>
            </form>

            <hr class="d-sm-none">

        </div>

        <!-- Central PART -->
        <div class="col-sm-8">

            <div class="row">

                <div class="col-sm-10">
                    <h2>
                        <!-- <span th:text="${directoryName}"></span> List -->
                        <span th:text="#{label.stencils_list}">List of Stencils</span>:
                    </h2>
                </div>
                <div class="col-sm-1"></div>
                <!-- align-self-center float-right -->
                <div class="col-sm-1">
                    <a th:href="@{/stencils/add}"
                       class="btn btn-primary btn-sm custom-width float-right "
                       style="width: 100px;" role="button"
                       sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')" th:text="#{label.new}">New</a>
                </div>
            </div>
            <!-- Table PART -->
            <div th:if="${not #lists.isEmpty(stencilsList)}">
                <table class="table table-sm table-bordered table-hover">
                    <thead>
                    <tr class="text-center">
                        <th width="50" th:text="#{label.id}">Id</th>
                        <!--<th width="100" th:text="#{label.account}">Account</th>-->
                        <th width="100" th:text="#{label.number}">Number</th>
                        <th th:text="#{label.order_name}">Order name</th>
                        <th th:text="#{label.client}">Client</th>
                        <th th:text="#{label.manager}">Manager</th>
                        <th width="100" th:text="#{label.amount}">Amount</th>
                        <th width="100" th:text="#{label.stencil_date}">Date Begin</th>

                        <th width="80">PDF</th>
                        <th width="80"
                            sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')"></th>
                        <th width="80"
                            sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- align-items-center -->

                    <tr th:each="stencil : ${stencilsList}">
                        <td th:text="${stencil.id}"></td>
                        <td><a th:href="@{'/stencils/view-' + ${stencil.id}}"
                               th:text="${stencil.fullNumber}"></a></td>
                        <td th:text="${stencil.orderName}"></td>
                        <td th:text="${stencil.client.name}"></td>
                        <td th:text="${stencil.manager.fullName}"></td>
                        <td class="text-right"
                            th:text="${#numbers.formatDecimal(stencil.amount,0, 'COMMA', 2, 'POINT')}"></td>
                        <!-- th:text="${stencil.amount}"  -->
                        <td class="text-center"
                            th:text="${#dates.format(stencil.dateBegin, 'dd-MM-yyyy')}"></td>

                        <td class="text-center align-self-center"><a
                                th:href="@{'/stencils/pdfReport-' + ${stencil.id}}"
                                style="width: 80px;"
                                class="btn btn-warning btn-sm custom-width" role="button">PDF</a></td>

                        <td class="text-center align-self-center"
                            sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')"><a
                                th:href="@{'/stencils/edit-' + ${stencil.id}}" style="width: 80px;"
                                class="btn btn-success btn-sm custom-width" role="button"
                                th:text="#{label.edit}">Edit</a></td>
                        <td class="text-center align-self-center"
                            sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">
                            <form method="GET" action="#"
                                  th:action="@{'/stencils/delete-' + ${stencil.id}}"
                                  accept-charset="UTF-8" style="display: inline">
                                <button class="btn btn-sm btn-danger custom-width"
                                        type="button" style="width: 80px;" data-toggle="modal"
                                        data-target="#confirmDelete"
                                        th:attr="data-title=#{label.delete_record},data-message=#{message.delete_confirm_message}"
                                        th:text="#{label.delete}">
                                    <i class="glyphicon glyphicon-trash"></i>Delete
                                </button>
                            </form>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${stencilsList == null or #lists.isEmpty(stencilsList)}">
                <div>"No stencils were found, please create some first"</div>
            </div>
            <!-- !Table PART -->
        </div>

        <!-- Right PART -->
        <div class="col-sm-2 bg-light">
            <!-- <h3>Some Links</h3>

            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link" target="_blank"
                    th:href="@{/openFolder}">Папка with Docs</a></li>
                <li class="nav-item"><a class="nav-link"
                    href="file:///home/mbrunarskiy/Desktop">Папка null</a></li>

            </ul>
            <hr class="d-sm-none"> -->
        </div>

    </div>
</div>


<!-- Include _deleteConfirmDialog.html -->
<th:block th:include="/_deleteConfirmDialog.html"></th:block>

</body>
</html>