<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:utext="${title}"></title>

    <link rel="shortcut icon" th:href="@{/image/logo.ico}" type="image/x-icon">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.standalone.min.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.dataTables.min.css}">

    <link rel="stylesheet" th:href="@{/css/vetal.css}">

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/js/locales/bootstrap-datepicker.ru.js}"></script>

    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/js/dataTables.responsive.min.js}"></script>

    <script th:src="@{/js/moment.min.js}"></script>
    <script th:src="@{/js/sorting/datetime-moment.js}"></script>

    <script th:src="@{/js/vetal.js}"></script>

</head>


<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<div class="container-fluid" style="margin-top: 30px">
    <div class="row">
        <!-- Left PART -->
        <div class="col-sm-2 bg-light">
            <h2><span th:text="#{label.filter}">Filter</span>:</h2>

            <div class="form-group text-center align-self-center"
                 th:if="${hasFilterData}">
                <a th:href="@{'/stencils/clearFilter'}" style="width: 80px;"
                   class="btn btn-danger btn-sm custom-width" role="button"
                   th:text="#{label.clearFilter}">Clear filter</a>
            </div>

            <form action="#" th:action="@{'/stencils/filter'}"
                  th:object="${stencilFilterData}" method="GET">

                <div class="form-group">
                    <label for="filterNumber"><span th:text="#{label.number}">Number</span>:</label>
                    <input type="text" class="form-control form-control-sm" id="filterNumber"
                           th:field="*{number}">
                </div>


                <div class="form-group">
                    <label for="filterClient"><span th:text="#{label.client}">Client</span>:</label>
                    <select id="filterClient" class="form-control form-control-sm selectpicker"
                            data-live-search="true" th:field="*{client}">
                        <option value="" th:text="#{label.select_choose}">Please Select</option>
                        <option th:each="dropDownItem : ${clientList}"
                                th:value="${dropDownItem.id}" th:text="${dropDownItem.fullName}"
                                th:attr="data-tokens=${dropDownItem.fullName}"/>
                    </select>
                </div>

                <div class="form-group">
                    <label for="filterManager"><span th:text="#{label.manager}">Manager</span>:</label>
                    <select id="filterManager" class="form-control form-control-sm selectpicker"
                            data-live-search="true" th:field="*{manager}">
                        <option value="" th:text="#{label.select_choose}">Please Select</option>
                        <option th:each="dropDownItem : ${managerList}"
                                th:value="${dropDownItem.id}" th:text="${dropDownItem.fullName}"
                                th:attr="data-tokens=${dropDownItem.fullName}"/>
                    </select>
                </div>

                <div class="form-group">
                    <label for="filterPrinter"><span th:text="#{label.printer}">Printer</span>:</label>
                    <select id="filterPrinter" class="form-control form-control-sm selectpicker"
                            data-live-search="true" th:field="*{printer}">
                        <option value="" th:text="#{label.select_choose}">Please Select</option>
                        <option th:each="dropDownItem : ${printerList}"
                                th:value="${dropDownItem.id}" th:text="${dropDownItem.fullName}"
                                th:attr="data-tokens=${dropDownItem.fullName}"/>
                    </select>
                </div>

                <!--<div class="form-group">
                    <label for="filterMaterial"><span th:text="#{label.paper}">Paper</span>:</label>
                    <select
                            id="filterMaterial" class="form-control form-control-sm selectpicker"
                            data-live-search="true" th:field="*{paper}">
                        <option value="" th:text="#{label.select_choose}">Please Select</option>
                        <option th:each="dropDownItem : ${paperList}"
                                th:value="${dropDownItem.id}" th:text="${dropDownItem.name}"
                                th:attr="data-tokens=${dropDownItem.name}"/>
                    </select>
                </div>-->

                <div class="form-group">
                    <label for="filterProduction"><span th:text="#{label.production}">Production</span>:</label>
                    <select
                            id="filterProduction" class="form-control form-control-sm selectpicker"
                            data-live-search="true" th:field="*{production}">
                        <option value="" th:text="#{label.select_choose}">Please Select</option>
                        <option th:each="dropDownItem : ${productionList}"
                                th:value="${dropDownItem.id}" th:text="${dropDownItem.fullName}"
                                th:attr="data-tokens=${dropDownItem.fullName}"/>
                    </select>
                </div>

                <!--<div class="form-group">
                    <label for="filterDateBeginFrom"><span th:text="#{label.date_from}">Date From</span>:</label> <input
                        id="filterDateBeginFrom" type="date"
                        class="form-control form-control-sm" th:field="*{dateBeginFrom}"/>
                    &lt;!&ndash; th:field="*{dateBeginFrom}"  &ndash;&gt;
                </div>-->

                <div class="form-group">
                    <label for="filterDateBeginFrom"><span th:text="#{label.date_from}">Date From</span>:</label> <input
                        id="filterDateBeginFrom" type="text" th:placeholder="dd.mm.yyyy"
                        class="form-control form-control-sm" th:field="*{dateBeginFrom}"/>
                </div>

                <!--<div class="form-group">
                    <label for="filterDateBeginTill"><span th:text="#{label.date_till}">Date Till</span>:</label> <input
                        id="filterDateBeginTill" type="date"
                        class="form-control form-control-sm" th:field="*{dateBeginTill}"/>
                    &lt;!&ndash; th:field="*{dateBeginTill}"  &ndash;&gt;
                </div>-->

                <div class="form-group">
                    <label for="filterDateBeginTill"><span th:text="#{label.date_till}">Date Till</span>:</label> <input
                        id="filterDateBeginTill" type="text" th:placeholder="dd.mm.yyyy"
                        class="form-control form-control-sm" th:field="*{dateBeginTill}"/>
                </div>

                <hr class="d-sm-none">

                <div class="form-group text-center align-self-center">
                    <input type="submit" style="width: 100px;"
                           class="btn btn-info btn-sm" value="On" th:value="#{label.on}"/>
                </div>
            </form>

            <hr class="d-sm-none">

        </div>

        <!-- Central PART -->
        <div class="col-sm-8">

            <div class="row">

                <div class="col-sm-10">
                    <h2>
                        <!-- <span th:text="${directoryName}"></span> List -->
                        <span th:text="#{label.stencils_list}">List of Stencils</span>:
                    </h2>
                </div>
                <div class="col-sm-1"></div>
                <!-- align-self-center float-right -->
                <div class="col-sm-1">
                    <a th:href="@{/stencils/add}"
                       class="btn btn-primary btn-sm custom-width float-right "
                       style="width: 100px;" role="button"
                       sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')" th:text="#{label.new}">New</a>
                </div>
            </div>
            <!-- Table PART -->
            <div th:if="${not #lists.isEmpty(stencilsList)}">
                <div class="table-responsive">
                    <table id="stencilsTable" class="table table-sm table-bordered table-hover display compact">
                        <thead>
                        <tr class="text-center">
                            <th width="50" th:text="#{label.id}">Id</th>
                            <!--<th width="100" th:text="#{label.account}">Account</th>-->
                            <!--<th width="50">№</th>-->
                            <th width="100" th:text="#{label.number}">Number</th>
                            <th th:text="#{label.order_name}">Order name</th>
                            <th th:text="#{label.client}">Client</th>
                            <th th:text="#{label.manager}">Manager</th>
                            <!--<th width="100" th:text="#{label.amount}">Amount</th>-->
                            <th width="100" th:text="#{label.stencil_date}">Date Begin</th>

                            <th width="100" th:text="#{label.state}">State</th>

                            <!--<th class="no-sort" width="80">PDF</th>-->
                            <th class="no-sort text-center" style="vertical-align: middle;" width="50"> #</th>

                            <!--<th class="no-sort" width="80"
                                sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')"></th>
                            <th class="no-sort" width="80"
                                sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')"></th>
                            <th class="no-sort" width="80"
                                sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')"></th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <!-- align-items-center -->


                        <tr th:each="stencil : ${stencilsList}"
                            th:class="${stencil.payment.id==1 or stencil.debtAmount!=0} ? 'table-danger':
                                    (${stencil.state.id == 1} ? 'table-warning' :
                                     (${stencil.state.id == 2} ? 'table-active' :
                                      (${stencil.state.id == 3} ? 'table-info':
                                       (${stencil.state.id == 4} ? 'table-success':
                                        ''))))"
                        >
                            <!--th:style="${stencil.state.id == 3} ? 'color: green;' : (${stencil.state.id == 2} ? 'color: red;': 'color: yellow;')"-->
                            <td class="text-center" th:text="${stencil.id}"></td>
                            <!--<td class="text-center" th:text="${stencil.number}"></td>-->
                            <td><a th:href="@{'/stencils/view-' + ${stencil.id}}"
                                   th:text="${stencil.fullNumber}"></a></td>
                            <td th:text="${stencil.orderName}"></td>
                            <td th:text="${stencil.client.fullName}"></td>
                            <td th:text="${stencil.manager.fullName}"></td>
                            <!--<td class="text-right"
                                th:text="${#numbers.formatDecimal(stencil.amount, 1, 'COMMA', 2, 'POINT')}"></td>-->
                            <!-- th:text="${stencil.amount}"  -->
                            <td class="text-center" style="vertical-align: middle;"
                                th:text="${#dates.format(stencil.dateBegin, 'dd.MM.yyyy')}"></td>

                            <!-- Buttons -->
                            <td class="text-center" style="vertical-align: middle;">
                                <div>
                                    <span th:text="${stencil.state.altName}" th:remove="tag"></span>
                                </div>
                                <div class="btn-group btn-group-sm"
                                     th:class="${stencil.state.id==2} ? '':'d-none'"
                                     sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')"
                                >
                                    <a class="btn btn-info btn-sm mx-sm-1"
                                       role="button" th:href="@{'/stencils/pdfReport-' + ${stencil.id}}"
                                       th:title="#{message.record.make_done}">
                                        <i class="fa fa-check"></i>
                                        <span th:text="#{label.ready}" th:remove="tag"></span>
                                    </a>
                                </div>

                            </td>

                            <td class="text-center align-self-center" style="vertical-align: middle;">
                                <!--<a th:href="@{'/tasks/pdfReport-' + ${task.id}}"
                                    class="btn btn-warning btn-sm" role="button" th:title="#{message.email.send}"><i class="fa fa-envelope-open"></i></a>-->
                                <div class="btn-group btn-group-sm">
                                    <a class="btn btn-warning btn-sm mx-sm-1"
                                       role="button" th:href="@{'/stencils/pdfReport-' + ${stencil.id}}"
                                       th:title="#{message.report.show}"><i class="fa fa-file-o"></i></a>

                                </div>
                                <div class="btn-group btn-group-sm"
                                     sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">
                                    <a class="btn btn-primary btn-sm mx-sm-1"
                                       role="button" th:href="@{'/stencils/copy-' + ${stencil.id}}"
                                       th:title="#{message.record.clone}"><i class="fa fa-clone"></i></a>
                                    <!--<button class="btn btn-primary btn-sm mx-sm-1"
                                            role="button" th:href="@{'/tasks/copy-' + ${task.id}}"
                                            th:title="#{message.record.clone}"><i class="fa fa-clone"></i></button>-->

                                    <a class="btn btn-success btn-sm mx-sm-1"
                                       role="button" th:href="@{'/stencils/edit-' + ${stencil.id}}"
                                       th:title="#{message.record.edit}"><i class="fa fa-pencil"></i></a>

                                    <form accept-charset="UTF-8" action="#"
                                          method="GET"
                                          style="display: inline" th:action="@{'/stencils/delete-' + ${stencil.id}}">
                                        <button class="btn btn-sm btn-danger mx-sm-1"
                                                data-target="#confirmDelete" data-toggle="modal"
                                                th:title="#{message.record.delete}" type="button">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </form>

                                </div>
                            </td>

                            <!--
                                                        <td class="text-center align-self-center" style="vertical-align: middle;"><a
                                                                th:href="@{'/stencils/pdfReport-' + ${stencil.id}}"
                                                                style="width: 80px;"
                                                                class="btn btn-warning btn-sm custom-width" role="button">PDF</a></td>

                                                        <td class="text-center align-self-center" style="vertical-align: middle;"
                                                            sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')"><a
                                                                th:href="@{'/stencils/edit-' + ${stencil.id}}" style="width: 80px;"
                                                                class="btn btn-success btn-sm custom-width" role="button"
                                                                th:text="#{label.edit}">Edit</a></td>

                                                        <td class="text-center align-self-center" style="vertical-align: middle;"
                                                            sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')"><a
                                                                th:href="@{'/stencils/copy-' + ${stencil.id}}" style="width: 80px;"
                                                                class="btn btn-primary btn-sm custom-width" role="button"
                                                                th:text="#{label.copy_short}">Copy</a></td>
                                                        <td class="text-center align-self-center" style="vertical-align: middle;"
                                                            sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">
                                                            <form method="GET" action="#"
                                                                  th:action="@{'/stencils/delete-' + ${stencil.id}}"
                                                                  accept-charset="UTF-8" style="display: inline">
                                                                <button class="btn btn-sm btn-danger custom-width"
                                                                        type="button" style="width: 80px;" data-toggle="modal"
                                                                        data-target="#confirmDelete"
                                                                        th:attr="data-title=#{label.delete_record},data-message=#{message.delete_confirm_message}"
                                                                        th:text="#{label.delete}">
                                                                    <i class="glyphicon glyphicon-trash"></i>Delete
                                                                </button>
                                                            </form>
                                                        </td>-->

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div th:if="${stencilsList == null or #lists.isEmpty(stencilsList)}">
                <div><span
                        th:text="#{message.table_empty_data}">"No stencils were found, please create some first"</span>
                </div>
            </div>
            <!-- !Table PART -->
        </div>

        <!-- Right PART -->
        <div class="col-sm-2 bg-light">
            <h2><span th:text="#{label.loading_in_days}">Loading in days</span>:</h2>
            <!-- <form action="#" th:object="${kraskoottiskAmount}" method="GET">

                 <div class="form-group">
                     &lt;!&ndash;<label for="filterNumber"><span th:text="#{label.number}">Number</span>:</label>&ndash;&gt;
                     <input type="number" class="form-control form-control-sm" id="kraskoottiskAmount"
                            th:field="${kraskoottiskAmount}">
                 </div>
             </form>-->

            <input id="loadingInDays" type="text" disabled="true"
                   class="form-control form-control-sm"
                   th:value="${#numbers.formatDecimal(kraskoottiskAmount/1800, 1, 'COMMA', 2, 'POINT')}">


            <!--th:value="${#numbers.formatDecimal(kraskoottiskAmount/1800, 0, 'COMMA', 2, 'POINT')}"
                   th:value="${kraskoottiskAmount/1800}"
            -->

            <hr class="d-sm-none">

            <h2><span th:text="#{label.kraskoottisk_amount}">Kraskoottisk amount</span>:</h2>
            <input id="kraskoottiskAmount" type="text" disabled="true"
                   class="form-control form-control-sm"
                   th:value="${#numbers.formatDecimal(kraskoottiskAmount, 0, 0)}">
            <!--th:value="${kraskoottiskAmount}"-->

            <hr class="d-sm-none">
            <hr>

            <h2><span th:text="#{label.reports}">Reports</span>:</h2>
            <div class="form-group text-center align-self-center">
                <a th:href="@{'/stencils/excelExport'}" style="width: 80px;"
                   class="btn btn-success btn-sm custom-width" role="button"
                   th:text="#{label.excelExport}">Excel</a>
            </div>

            <hr class="d-sm-none">


        </div>

    </div>
</div>


<!-- Include _deleteConfirmDialog.html -->
<th:block th:include="/_deleteConfirmDialog.html"></th:block>

<script>
    initDatePicker('#filterDateBeginFrom');
    initDatePicker('#filterDateBeginTill');

    $(document).ready(initTable('#stencilsTable', [0, "desc"], " "));

</script>

</body>
</html>