<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="UTF-8">
    <!-- <title th:utext="${title}">Edit user</title> -->
    <title>stencil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" th:href="@{/image/logo.ico}" type="image/x-icon">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.standalone.min.css}">
    <link rel="stylesheet" th:href="@{/css/vetal.css}">
    <!-- <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css"> -->

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-select.min.js}"></script>

    <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/js/locales/bootstrap-datepicker.ru.js}"></script>
    <script th:src="@{/js/vetal.js}"></script>

    <!-- <script src="/js/bootstrap.bundle.min.js"></script> -->


</head>
<body>
<div class="container bg-light" style="margin-top: 30px">
    <div class="well">

        <form action="#" th:action="@{'/stencils/update'}" th:object="${stencil}"
              method="POST">
            <!-- ID -->
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group row">
                        <div class="col-sm-7 align-self-center">
                            <h4>
                                <!-- <span th:text="${personName}"></span> edit -->
                                <span th:text="#{label.stencilTaskName}">Stencil</span> №
                            </h4>
                        </div>

                        <div class="col-sm-5 align-self-center">
                            <input id="number" class="form-control form-control-sm"
                                   th:field="*{number}" type="number"
                                   th:disabled="${readOnly}" autofocus="autofocus"/>
                        </div>
                        <div class="alert alert-danger"
                             th:if="${#fields.hasErrors('number')}">
                            <h6>[[${#fields.errors('number')}]]</h6>
                        </div>

                        <!--<div class="form-inline" th:if="${readOnly}">
                            <input id="fullNumber" class="col-sm-9 form-control form-control-sm"
                                   th:field="*{fullNumber}" th:disabled="${readOnly}"/>
                        </div>-->

                    </div>
                </div>

                <!--Id & Copy-->
                <div class="col-sm-6 align-self-center">
                    <div class="form-group row">
                        <label for="stencilID"
                               class="col-sm-3 col-form-label col-form-label-sm"><span>ID</span>:</label>
                        <div class="col-sm-4">
                            <input id="stencilID" class="form-control form-control-sm"
                                   type="text" th:value="*{id}" th:disabled="true"
                                   placeholder="id"/>
                        </div>
                        <div class="col-sm-5 align-self-center">
                            <a th:href="@{'/stencils/copy-' + ${stencil.id}}"
                               class="btn btn-primary btn-sm custom-width float-right "
                               style="width: 100px;" role="button"
                               sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')"
                               th:text="#{label.copy}">Copy</a>
                        </div>
                    </div>

                </div>


                <input type="hidden" id="recordId" th:field="*{id}"/>

            </div>

            <!-- Account & Client -->
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group row">
                        <label for="numberBaseList"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.account}">Account</span>:</label>
                        <div class="col-sm-3">
                            <!--<input class="form-control form-control-sm" type="text"
                                   id="stencilAccount" th:field="*{account}"
                                   th:disabled="${readOnly}"
                                   placeholder="Enter Account"/>-->
                            <!--style="width: 80px;"-->
                            <select id="numberBaseList" th:field="*{numberBase}"
                                    th:disabled="${readOnly}"
                                    class="form-control form-control-sm selectpicker"
                                    data-live-search="true">
                                <option th:each="dropDownItem : ${numberBaseList}"
                                        th:text="${dropDownItem.name}" th:value="${dropDownItem.id}"/>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <input id="numberSuffix" class="form-control form-control-sm"
                                   th:field="*{numberSuffix}" type="number"
                                   th:disabled="${readOnly}"/>
                        </div>
                    </div>

                </div>
                <div class="form-inline">
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('numberBase')}">
                        <h6>[[${#fields.errors('numberBase')}]]</h6>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('numberSuffix')}">
                        <h6>[[${#fields.errors('numberSuffix')}]]</h6>
                    </div>
                </div>

                <!--<div class="alert alert-danger"
                     th:if="${#fields.hasErrors('account')}">
                    &lt;!&ndash; <p th:text="${#fields.errors('account')}" style ="margin-bottom: 0rem"></p> &ndash;&gt;
                    <h6>[[${#fields.errors('account')}]]</h6>
                </div>-->


                <div class="col-sm-6" th:if="!${readOnly}">
                    <div class="form-group row">
                        <label for="stencilClient"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.client}">Client</span>:</label>
                        <div class="col-sm-9"
                             th:if="${clientList != null and not #lists.isEmpty(clientList)}">
                            <select id="stencilClient" th:field="*{client}"
                                    th:disabled="${readOnly}" class="form-control form-control-sm selectpicker"
                                    data-live-search="true">
                                <option th:each="dropDownItem : ${clientList}"
                                        th:value="${dropDownItem.id}" th:text="${dropDownItem.fullName}"
                                        th:attr="data-tokens=${dropDownItem.fullName}"/>
                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${clientList == null or #lists.isEmpty(clientList)}">
                            <div>"No Clients were found, please create some first"</div>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('client')}">
                        <p th:text="${#fields.errors('client')}"
                           style="margin-bottom: 0rem"></p>
                    </div>

                </div>

                <div class="col-sm-6" th:if="${readOnly}">
                    <div class="form-group row">
                        <label for="stencilClient_readOnly"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.client}">Client</span>:</label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="text"
                                   id="stencilClient_readOnly" th:field="*{client.fullName}"
                                   th:disabled="${readOnly}"/>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Amount & Cost Of Materials & Other expenses & Cost Of Printing-->
            <div class="row">
                <div class="col-sm-3">

                    <div class="form-group row">

                        <label for="stencilAmount"
                               class="col-sm-4 col-form-label col-form-label-sm"><span
                                th:text="#{label.order_amount}">Order amount</span>: </label>
                        <div class="col-sm-8">
                            <input id="stencilAmount" type="number" min="0.00" step="0.01"
                                   class="form-control form-control-sm" th:field="*{amount}"
                                   th:disabled="${readOnly}"
                                   onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('amount')}">
                        <p th:text="${#fields.errors('amount')}"
                           style="margin-bottom: 0rem"></p>
                    </div>
                </div>
                <div class="col-sm-3">

                    <div class="form-group row">

                        <label for="stencilCostOfMaterials"
                               class="col-sm-4 col-form-label col-form-label-sm"><span
                                th:text="#{label.cost_of_materials}">Cost Of Materials</span>: </label>
                        <div class="col-sm-8">
                            <input id="stencilCostOfMaterials" type="number" min="0.00" step="0.01"
                                   class="form-control form-control-sm" th:field="*{costOfMaterials}"
                                   th:disabled="${readOnly}"
                                   onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('costOfMaterials')}">
                        <p th:text="${#fields.errors('costOfMaterials')}"
                           style="margin-bottom: 0rem"></p>
                    </div>
                </div>
                <div class="col-sm-3">

                    <div class="form-group row">

                        <label for="stencilOtherExpenses"
                               class="col-sm-4 col-form-label col-form-label-sm"><span
                                th:text="#{label.other_expenses}">Other expenses</span>: </label>
                        <div class="col-sm-8">
                            <input id="stencilOtherExpenses" type="number" min="0.00" step="0.01"
                                   class="form-control form-control-sm" th:field="*{otherExpenses}"
                                   th:disabled="${readOnly}"
                                   onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('otherExpenses')}">
                        <p th:text="${#fields.errors('otherExpenses')}"
                           style="margin-bottom: 0rem"></p>
                    </div>
                </div>
                <div class="col-sm-3">

                    <div class="form-group row">

                        <label for="stencilCostOfPrinting"
                               class="col-sm-4 col-form-label col-form-label-sm"><span
                                th:text="#{label.cost_of_printing}">Cost Of Printing</span>: </label>
                        <div class="col-sm-8">
                            <input id="stencilCostOfPrinting" type="number" min="0.00" step="0.01"
                                   class="form-control form-control-sm" th:field="*{costOfPrinting}"
                                   th:disabled="${readOnly}"
                                   onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('costOfPrinting')}">
                        <p th:text="${#fields.errors('costOfPrinting')}"
                           style="margin-bottom: 0rem"></p>
                    </div>
                </div>
            </div>

            <!-- Order name & Manager -->
            <div class="row">
                <div class="col-6">

                    <div class="form-group row">

                        <label for="stencilOrderName"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.order_name}">Order name</span>:</label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="text"
                                   id="stencilOrderName" th:field="*{orderName}"
                                   th:disabled="${readOnly}" placeholder="Enter Oreder Name"/>
                        </div>
                    </div>

                </div>

                <div class="col-6">
                    <div class="form-group row">
                        <label for="stencilManager"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.manager}">Manager</span>:</label>
                        <div class="col-sm-9"
                             th:if="${managerList != null and not #lists.isEmpty(managerList)}">
                            <select id="stencilManager" th:field="*{manager}" th:disabled="${readOnly}"
                                    class="form-control form-control-sm selectpicker"
                                    data-live-search="true">
                                <option th:each="dropDownItem : ${managerList}"
                                        th:value="${dropDownItem.id}"
                                        th:text="${dropDownItem.fullName}"
                                        th:attr="data-tokens=${dropDownItem.fullName}"/>

                            </select>
                        </div>

                        <div class="col-sm-9"
                             th:if="${managerList == null or #lists.isEmpty(managerList)}">
                            <div>"No Managers were found, please create some first"</div>
                        </div>
                    </div>

                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('manager')}">
                        <p th:text="${#fields.errors('manager')}"
                           style="margin-bottom: 0rem"></p>
                    </div>
                </div>
            </div>

            <!--Dates Begin & End -->
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group row">

                        <label for="stencilDateBegin"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.stencil_date}">Date begin</span>:</label>
                        <div class="col-sm-9">
                            <!--<input id="stencilDateBegin" type="date" th:disabled="${readOnly}"
                                   class="form-control form-control-sm" th:field="*{dateBegin}"
                                   th:value="${#dates.format(stencil.dateBegin, 'yyyy-MM-dd')}"/>-->
                            <!-- th:value="${{stencil.dateBegin}}"  -->
                            <input id="stencilDateBegin" type="text" th:placeholder="dd.mm.yyyy"
                                   th:disabled="${readOnly}"
                                   class="form-control form-control-sm" th:field="*{dateBegin}"/>
                        </div>

                    </div>

                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('dateBegin')}">
                        <p th:text="${#fields.errors('dateBegin')}"
                           style="margin-bottom: 0rem"></p>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="form-group row">

                        <label for="stencilDateEnd"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.completion_date}">Date end</span>:</label>
                        <div class="col-sm-9">
                            <!--<input id="stencilDateEnd" type="date" th:disabled="${readOnly}"
                                   class="form-control form-control-sm" th:field="${stencil.dateEnd}"
                                   th:value="${{stencil.dateEnd}}"/>-->
                            <!-- th:value="${#dates.format(stencil.dateEnd, 'yyyy-MM-dd')}" *{dateEnd}-->
                            <input id="stencilDateEnd" type="text" th:placeholder="dd.mm.yyyy" th:disabled="${readOnly}"
                                   class="form-control form-control-sm" th:field="*{dateEnd}"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('dateEnd')}">
                        <p th:text="${#fields.errors('dateEnd')}"
                           style="margin-bottom: 0rem"></p>
                    </div>


                </div>
            </div>

            <!-- Stock & Production -->
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group row">

                        <label for="stencilStock"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.stock}">Stock</span>:</label>
                        <div class="col-sm-9"
                             th:if="${stockList != null and not #lists.isEmpty(stockList)}">
                            <select id="stencilStock" th:field="*{stock}"
                                    th:disabled="${readOnly}" class="form-control form-control-sm selectpicker"
                                    data-live-search="true">
                                <option th:each="dropDownItem : ${stockList}"
                                        th:value="${dropDownItem.id}" th:text="${dropDownItem.name}"
                                        th:attr="data-tokens=${dropDownItem.name}"/>
                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${stockList == null or #lists.isEmpty(stockList)}">
                            <div>"No Stocks were found, please create some first"</div>
                        </div>
                    </div>

                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('stock')}">
                        <p th:text="${#fields.errors('stock')}"
                           style="margin-bottom: 0rem"></p>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="form-group row">

                        <label for="stencilProduction"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.production}">Production</span>:</label>
                        <div class="col-sm-9"
                             th:if="${productionList != null and not #lists.isEmpty(productionList)}">
                            <select id="stencilProduction" th:field="*{production}"
                                    th:disabled="${readOnly}" class="form-control form-control-sm selectpicker"
                                    data-live-search="true">
                                <option th:each="dropDownItem : ${productionList}"
                                        th:value="${dropDownItem.id}" th:text="${dropDownItem.fullName}"
                                        th:attr="data-tokens=${dropDownItem.fullName}"/>
                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${productionList == null or #lists.isEmpty(productionList)}">
                            <div>"No Productions were found, please create some first"</div>
                        </div>
                    </div>

                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('production')}">
                        <p th:text="${#fields.errors('production')}"
                           style="margin-bottom: 0rem"></p>
                    </div>
                </div>

            </div>

            <!-- Printing & Printing units & Adjustment -->
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group row">

                        <label for="stencilPrinting"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.printing}">Printing</span>:</label>
                        <div class="col-sm-3">
                            <input class="form-control form-control-sm" type="number"
                                   min="0" id="stencilPrinting" th:field="*{printing}"
                                   th:disabled="${readOnly}" placeholder="Enter Printing amount"/>
                        </div>

                        <!--<label for="printingUnit"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.printing_unit}">Printing</span>: </label>-->
                        <div class="col-sm-6"
                             th:if="${printingUnitList != null and not #lists.isEmpty(printingUnitList)}">
                            <select id="printingUnit" th:field="*{printingUnit}"
                                    th:disabled="${readOnly}" class="form-control form-control-sm selectpicker"
                                    data-live-search="true">
                                <option th:each="dropDownItem : ${printingUnitList}"
                                        th:value="${dropDownItem.id}" th:text="${dropDownItem.name}"
                                        th:attr="data-tokens=${dropDownItem.name}"/>
                            </select>
                        </div>
                        <div class="col-sm-6"
                             th:if="${printingUnitList == null or #lists.isEmpty(printingUnitList)}">
                            <div>"No Printing Units were found, please create some first"</div>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('printing')}">
                        <p th:text="${#fields.errors('printing')}"
                           style="margin-bottom: 0rem"></p>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="form-group row">

                        <label for="stencilKraskoottisk"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.kraskoottisk}">Kraskoottisk</span>:</label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="number"
                                   id="stencilKraskoottisk" th:field="*{kraskoottisk}"
                                   th:disabled="${readOnly}" placeholder="Enter kraskoottisk amount"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('sheetNumber')}">
                        <p th:text="${#fields.errors('sheetNumber')}"
                           style="margin-bottom: 0rem"></p>
                    </div>
                    <!--<div class="form-group row">

                        <label for="stencilAdjustment"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.adjustment}">Adjustment</span>:</label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="number"
                                   min="0" id="stencilAdjustment" th:field="*{adjustment}"
                                   th:disabled="${readOnly}" placeholder="Enter Adjustment amount"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('adjustment')}">
                        <p th:text="${#fields.errors('adjustment')}"
                           style="margin-bottom: 0rem"></p>
                    </div>-->

                </div>

            </div>

            <!-- Paper & Paper_Format -->
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group row">

                        <label for="stencilPaper"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.paper}">Paper</span>:</label>
                        <div class="col-sm-9"
                             th:if="${paperList != null and not #lists.isEmpty(paperList)}">
                            <select id="stencilPaper" th:field="*{paper}"
                                    th:disabled="${readOnly}" class="form-control form-control-sm selectpicker"
                                    data-live-search="true">

                                <option th:each="dropDownItem : ${paperList}"
                                        th:value="${dropDownItem.id}" th:text="${dropDownItem.name}"
                                        th:attr="data-tokens=${dropDownItem.name}"/>
                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${paperList == null or #lists.isEmpty(paperList)}">
                            <div>"No Papers were found, please create some first"</div>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('paper')}">
                        <p th:text="${#fields.errors('paper')}"
                           style="margin-bottom: 0rem"></p>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="form-group row">

                        <label for="paperFormat"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.paper_format}">Paper format</span>:</label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="text"
                                   id="paperFormat" th:field="*{paperFormat}"
                                   th:disabled="${readOnly}" placeholder="Enter Paper format"/>
                        </div>
                    </div>

                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('paperFormat')}">
                        <p th:text="${#fields.errors('paperFormat')}"
                           style="margin-bottom: 0rem"></p>
                    </div>
                </div>

            </div>

            <!-- Printing Note -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="stencilPrintingNote"><span th:text="#{label.note}">Note</span>:</label>
                        <textarea class="form-control" rows="2" id="stencilPrintingNote"
                                  th:disabled="${readOnly}" maxlength="1000" th:field="*{printingNote}"></textarea>
                    </div>
                </div>
            </div>

            <!-- Sheets Numbers -->
            <div class="row" hidden>
                <div class="col-sm-6">

                    <div class="form-group row">

                        <label for="sheetNumber"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.sheet_number}">Sheets number</span>:</label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="number"
                                   id="sheetNumber" th:field="*{sheetNumber}"
                                   th:disabled="${readOnly}" placeholder="Enter Sheets number"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('sheetNumber')}">
                        <p th:text="${#fields.errors('sheetNumber')}"
                           style="margin-bottom: 0rem"></p>
                    </div>

                </div>
                <div class="col-sm-6">

                </div>

            </div>

            <!-- Printer & Printer date begin -->
            <div class="row">
                <div class="col-6">

                    <div class="form-group row">

                        <label for="stencilPrinter"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.printer}">Printer</span>:</label>
                        <div class="col-sm-9">
                            <select id="stencilPrinter" th:field="*{printer}" th:disabled="${readOnly}"
                                    class="form-control form-control-sm selectpicker"
                                    data-live-search="true">
                                <option value="" th:text="#{label.select_choose}">Please Select</option>
                                <option th:each="dropDownItem : ${printerList}"
                                        th:value="${dropDownItem.id}"
                                        th:text="${dropDownItem.fullName}"
                                        th:attr="data-tokens=${dropDownItem.fullName}"/>

                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${printerList == null or #lists.isEmpty(printerList)}">
                            <div>"No Printers were found, please create some first"</div>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('printer')}">
                        <p th:text="${#fields.errors('printer')}"
                           style="margin-bottom: 0rem"></p>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group row">

                        <label for="stencilPrintingDateBegin"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.printing_date}">Printing Date begin</span>:</label>
                        <div class="col-sm-9">
                            <!--<input id="stencilPrintingDateBegin" type="date" th:disabled="${readOnly}"
                                   class="form-control form-control-sm" th:field="*{datePrintBegin}"
                                   th:value="${#dates.format(stencil.datePrintBegin, 'yyyy-MM-dd')}"/>-->
                            <!-- th:value="${{stencil.dateBegin}}"  -->
                            <input id="stencilPrintingDateBegin" type="text" th:placeholder="dd.mm.yyyy"
                                   th:disabled="${readOnly}"
                                   class="form-control form-control-sm" th:field="*{datePrintBegin}"/>
                        </div>

                    </div>

                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('datePrintBegin')}">
                        <p th:text="${#fields.errors('datePrintBegin')}"
                           style="margin-bottom: 0rem"></p>
                    </div>
                </div>
            </div>

            <!-- Worker print & Worker cut -->
            <div class="row">
                <div class="col-6">

                    <div class="form-group row">

                        <label for="stencilWorkerPrint"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.worker_print}">Worker print</span>:</label>
                        <div class="col-sm-9">
                            <select id="stencilWorkerPrint" th:field="*{workerPrint}" th:disabled="${readOnly}"
                                    class="form-control form-control-sm selectpicker"
                                    data-live-search="true">
                                <!--<option th:value="0" th:text="Please Select"></option>-->
                                <option value="" th:text="#{label.select_choose}"> Please Select</option>
                                <option th:each="dropDownItem : ${workerList}"
                                        th:value="${dropDownItem.id}"
                                        th:text="${dropDownItem.fullName}"
                                        th:attr="data-tokens=${dropDownItem.fullName}"
                                />

                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${workerList == null or #lists.isEmpty(workerList)}">
                            <div>"No Workers were found, please create some first"</div>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('workerPrint')}">
                        <p th:text="${#fields.errors('workerPrint')}"
                           style="margin-bottom: 0rem"></p>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group row">

                        <label for="stencilWorkerCut"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.worker_cut}">Worker cut</span>:</label>
                        <div class="col-sm-9">
                            <select id="stencilWorkerCut" th:field="*{workerCut}" th:disabled="${readOnly}"
                                    class="form-control form-control-sm selectpicker"
                                    data-live-search="true">
                                <option value="" th:text="#{label.select_choose}"> Please Select</option>
                                <option th:each="dropDownItem : ${workerList}"
                                        th:value="${dropDownItem.id}"
                                        th:text="${dropDownItem.fullName}"
                                        th:attr="data-tokens=${dropDownItem.fullName}"/>

                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${workerList == null or #lists.isEmpty(workerList)}">
                            <div>"No Workers were found, please create some first"</div>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('workerCut')}">
                        <p th:text="${#fields.errors('workerCut')}"
                           style="margin-bottom: 0rem"></p>
                    </div>
                </div>
            </div>


            <!-- Fillet & Popup & Carving & Bending & Assembly & Cutting & Plotter -->
            <div class="row">
                <div class="col-sm-12">

                    <div class="form-inline">
                        <!--<div class="form-group mb-2">-->

                        <label for="stencilFillet"
                               class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"><span
                                th:text="#{label.fillet}">Fillet</span>: </label>
                        <input type="checkbox" id="stencilFillet" class="ml-sm mb-2 mr-sm-5" th:field="*{fillet}"
                               th:disabled="${readOnly}"/>

                        <label for="stencilPopup"
                               class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"><span
                                th:text="#{label.popup}">Popup</span>: </label>
                        <input type="checkbox" id="stencilPopup" class="ml-sm mb-2 mr-sm-5" th:field="*{popup}"
                               th:disabled="${readOnly}"/>

                        <label for="stencilCarving"
                               class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"><span
                                th:text="#{label.carving}">Carving</span>: </label>
                        <input type="checkbox" id="stencilCarving" class="ml-sm mb-2 mr-sm-5" th:field="*{carving}"
                               th:disabled="${readOnly}"/>

                        <label for="stencilStamping"
                               class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"><span
                                th:text="#{label.stamping}">Stamping</span>: </label>
                        <input type="checkbox" id="stencilStamping" class="ml-sm mb-2 mr-sm-5"
                               th:field="*{stamping}"
                               th:disabled="${readOnly}"/>

                        <label for="stencilEmbossing"
                               class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"><span
                                th:text="#{label.embossing}">Embossing</span>: </label>
                        <input type="checkbox" id="stencilEmbossing" class="ml-sm mb-2 mr-sm-5"
                               th:field="*{embossing}"
                               th:disabled="${readOnly}"/>

                        <label for="stencilBending"
                               class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"><span
                                th:text="#{label.bending}">Bending</span>: </label>
                        <input type="checkbox" id="stencilBending" class="ml-sm mb-2 mr-sm-5" th:field="*{bending}"
                               th:disabled="${readOnly}"/>

                        <label for="plotter"
                               class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"><span
                                th:text="#{label.plotter}">Plotter</span>: </label>
                        <input type="checkbox" id="plotter" class="ml-sm mb-2 mr-sm-5" th:field="*{plotter}"
                               th:disabled="${readOnly}"/>
                    </div>
                </div>
            </div>

            <!-- Pack & PackBox & PackPellicle & PackPackage & PackNP -->
            <div class="row">
                <div class="col-sm-12">

                    <div class="form-inline">
                        <!--<div class="form-group">-->

                        <label for="packBox"
                               class="ml-sm mb-2 mr-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.packaging}">Packaging</span>: </label>

                        <label for="packBox"
                               class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"><span
                                th:text="#{label.packBox}">Box</span>: </label>
                        <input type="checkbox" id="packBox" class="ml-sm mb-2 mr-sm-5" th:field="*{packBox}"
                               th:disabled="${readOnly}"/>

                        <label for="packPellicle"
                               class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"><span
                                th:text="#{label.packPellicle}">Pellicle</span>: </label>
                        <input type="checkbox" id="packPellicle" class="ml-sm mb-2 mr-sm-5"
                               th:field="*{packPellicle}"
                               th:disabled="${readOnly}"/>

                        <label for="packPaper"
                               class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"><span
                                th:text="#{label.packPaper}">Paper</span>: </label>
                        <input type="checkbox" id="packPaper" class="ml-sm mb-2 mr-sm-5"
                               th:field="*{packPaper}"
                               th:disabled="${readOnly}"/>

                        <label for="packPackage"
                               class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"><span
                                th:text="#{label.packPackage}">Package</span>: </label>
                        <input type="checkbox" id="packPackage" class="ml-sm mb-2 mr-sm-5" th:field="*{packPackage}"
                               th:disabled="${readOnly}"/>

                        <label for="packNP"
                               class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"><span
                                th:text="#{label.packNP}">for NP</span>: </label>
                        <input type="checkbox" id="packNP" class="ml-sm mb-2 mr-sm-5" th:field="*{packNP}"
                               th:disabled="${readOnly}"/>

                    </div>
                </div>
            </div>

            <!-- Numeration & Numeration from & Cut_ribbon & Ribbon_length  & Sticker -->
            <div class="row">

                <div class="col-sm-4">

                    <!--<div class="form-group">-->
                    <div class="form-inline">

                        <label for="numeration"
                               class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"><span
                                th:text="#{label.numeration}">Numeration</span>: </label>
                        <!--<div class="form-check mb-2 mr-sm-2">
                            <label class="form-check-label">
                                <input class="form-check-input "type="checkbox"> Remember me
                            </label>
                        </div>-->

                        <input class="mr-sm-3 mb-2" type="checkbox" id="numeration" th:field="*{numeration}"
                               th:disabled="${readOnly}"/>

                        <label for="numerationFrom"
                               class="mr-sm-2 mb-2  col-form-label col-form-label-sm"><span
                                th:text="#{label.numeration_from}">Numeration from</span>: </label>

                        <input class="mr-sm-2 mb-2 form-control form-control-sm" style="width:100px;" type="number"
                               min="0" id="numerationFrom" th:field="*{numerationStart}"
                               th:disabled="${readOnly}" placeholder="Enter number from"/>

                    </div>

                </div>

                <div class="col-sm-5">

                    <!--<div class="form-group">-->
                    <div class="form-inline">

                        <label for="cut_ribbon"
                               class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"><span
                                th:text="#{label.cut_ribbon}">Cut ribbon</span>: </label>

                        <input class="mr-sm-3 mb-2" type="checkbox" id="cut_ribbon" th:field="*{cutRibbon}"
                               th:disabled="${readOnly}"/>

                        <label for="ribbonLength"
                               class="mr-sm-2 mb-2  col-form-label col-form-label-sm"><span
                                th:text="#{label.ribbon_length}">Ribbon length</span>: </label>

                        <input class="mr-sm-2 mb-2  form-control form-control-sm" style="width:100px;" type="number"
                               min="0" id="ribbonLength" th:field="*{ribbonLength}"
                               th:disabled="${readOnly}" placeholder="Enter ribbon length"/>

                    </div>

                </div>

                <div class="col-sm-3">

                    <div class="form-group row">
                        <!--<label for="stencilSticker"
                               class="col-sm-9 col-form-label col-form-label-sm"><span
                                th:text="#{label.glue_sticker}">Glue Sticker</span>: </label>
                        <div class="col-sm-3 align-self-center">
                            <input type="checkbox" id="stencilSticker" th:field="*{sticker}"
                                   th:disabled="${readOnly}"/>
                        </div>-->

                        <label for="stencilSticker"
                               class="ml-sm mb-2 mr-sm-2 col-form-label col-form-label-sm"><span
                                th:text="#{label.glue_sticker}">Glue Sticker</span>: </label>
                        <input type="checkbox" id="stencilSticker" class="ml-sm mt-2 mr-sm-5"
                               th:field="*{sticker}" th:disabled="${readOnly}"/>

                    </div>

                    <!--<div class="form-group row">

                        <label for="numerationFrom"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.numeration_from}">Numeration from</span>: </label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" type="number"
                                   min="1" id="numerationFrom" th:field="*{numerationStart}"
                                   th:disabled="${readOnly}" placeholder="Enter number from"/>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('numerationStart')}">
                        <p th:text="${#fields.errors('numerationStart')}"
                           style="margin-bottom: 0rem"></p>
                    </div>-->
                </div>
            </div>


            <!-- State & Payment & Debt-->
            <div class="row">
                <div class="col-4">

                    <div class="form-group row">

                        <label for="stencilState"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.state}">State</span>:</label>
                        <div class="col-sm-9">
                            <select id="stencilState" th:field="*{state}" th:disabled="${readOnly}"
                                    class="form-control form-control-sm selectpicker"
                                    data-live-search="false">

                                <!--<option value="" th:text="#{label.select_choose}"> Please Select</option>-->
                                <option th:each="dropDownItem : ${stateList}"
                                        th:value="${dropDownItem.id}"
                                        th:text="${dropDownItem.altName}"
                                        th:attr="data-tokens=${dropDownItem.altName}"
                                />

                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${stateList == null or #lists.isEmpty(stateList)}">
                            <div>"No Workers were found, please create some first"</div>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('state')}">
                        <p th:text="${#fields.errors('state')}"
                           style="margin-bottom: 0rem"></p>
                    </div>
                </div>
                <div class="col-sm-4">

                    <div class="form-group row">

                        <label for="stencilPayment"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.payment}">Payment</span>:</label>

                        <div class="col-sm-9"
                             th:if="${printingUnitList != null and not #lists.isEmpty(paymentList)}">
                            <select id="stencilPayment" th:field="*{payment}"
                                    th:disabled="${readOnly}" class="form-control form-control-sm selectpicker"
                                    data-live-search="true">
                                <option th:each="dropDownItem : ${paymentList}"
                                        th:value="${dropDownItem.id}" th:text="${dropDownItem.altName}"
                                        th:attr="data-tokens=${dropDownItem.name}"/>
                            </select>
                        </div>

                        <!--<div class="col-sm-6"
                             th:if="${printingUnitList == null or #lists.isEmpty(printingUnitList)}">
                            <div>"No Printing Units were found, please create some first"</div>
                        </div>-->
                    </div>
                    <!--<div class="alert alert-danger"
                         th:if="${#fields.hasErrors('printing')}">
                        <p th:text="${#fields.errors('printing')}"
                           style="margin-bottom: 0rem"></p>
                    </div>-->

                </div>

                <div class="col-sm-4">

                    <div class="form-group row">

                        <label for="stencilDebtAmount"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.debt}">Debt</span>:</label>

                        <div class="col-sm-9">
                            <input id="stencilDebtAmount" type="number" min="0.00" step="0.01"
                                   class="form-control form-control-sm" th:field="*{debtAmount}"
                                   th:disabled="${readOnly}"
                                   onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)"/>
                        </div>
                        <!--<div class="col-sm-6"
                             th:if="${printingUnitList == null or #lists.isEmpty(printingUnitList)}">
                            <div>"No Printing Units were found, please create some first"</div>
                        </div>-->
                    </div>
                    <!--<div class="alert alert-danger"
                         th:if="${#fields.hasErrors('printing')}">
                        <p th:text="${#fields.errors('printing')}"
                           style="margin-bottom: 0rem"></p>
                    </div>-->


                </div>

                <!--<div class="col-6">
                    <div class="form-group row">

                        <label for="stencilWorkerCut"
                               class="col-sm-3 col-form-label col-form-label-sm"><span
                                th:text="#{label.worker_cut}">Worker cut</span>:</label>
                        <div class="col-sm-9">
                            <select id="stencilWorkerCut" th:field="*{workerCut}" th:disabled="${readOnly}"
                                    class="form-control form-control-sm selectpicker"
                                    data-live-search="true">
                                <option value="" th:text="#{label.select_choose}"> Please Select</option>
                                <option th:each="dropDownItem : ${workerList}"
                                        th:value="${dropDownItem.id}"
                                        th:text="${dropDownItem.fullName}"
                                        th:attr="data-tokens=${dropDownItem.fullName}"/>

                            </select>
                        </div>
                        <div class="col-sm-9"
                             th:if="${workerList == null or #lists.isEmpty(workerList)}">
                            <div>"No Workers were found, please create some first"</div>
                        </div>
                    </div>
                    <div class="alert alert-danger"
                         th:if="${#fields.hasErrors('workerCut')}">
                        <p th:text="${#fields.errors('workerCut')}"
                           style="margin-bottom: 0rem"></p>
                    </div>
                </div>-->
            </div>

            <!-- Buttons -->

            <div th:if="${readOnly}">
                <div class="row">
                    <div class="col-sm-6">
                        <a th:href="@{/stencils}" style="width: 100px;"
                           class="btn btn-info btn-sm btn-info" role="button"
                           th:text="#{label.back}">Back</a>
                    </div>

                    <div class="col-sm-6">
                        <a th:href="@{'/stencils/pdfReport-' + ${stencil.id}}" style="width: 80px;"
                           class="btn btn-warning btn-sm custom-width float-right" role="button">PDF</a>
                    </div>
                </div>
            </div>
            <div th:if="!${readOnly}">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="submit" style="width: 100px;"
                               class="btn btn-info btn-sm" value="OK"/>
                    </div>

                    <div class="col-sm-6">
                        <a th:href="@{/stencils}" style="width: 100px;"
                           class="btn btn-info btn-outline-danger btn-sm float-right"
                           role="button" th:text="#{label.cancel}">Cancel</a>
                    </div>
                </div>
            </div>
        </form>

        <br/>
    </div>
</div>


<script>
    initDatePicker('#stencilDateBegin');
    initDatePicker('#stencilDateEnd');
    initDatePicker('#stencilPrintingDateBegin');
</script>

</body>
</html>