# tells Lombok that this is the root directory
# and it shouldn't search parent directories for more configuration files
config.stopBubbling = true

# tells Lombok to add @lombok.Generated annotations to all generated methods
# useful for style checkers and code coverage tools:
lombok.addLombokGeneratedAnnotation = true

# If set to call, lombok will generate calls to the superclass implementation of toString
# if your class extends something. If set to skip no such call is generated.
# If set to warn no such call is generated either, but lombok does generate a warning
# to tell you about it.
#lombok.toString.callSuper = call